<!--The content below is only a placeholder and can be replaced.-->


<div class="padding0 h-100">

  <router-outlet></router-outlet>

  <footer>
    <div class="float-left">© 2018 by ACT, lnc.</div>
    <div class="float-right">Terms and Conditions</div>
    <div class="clearfix"></div>
  </footer>
</div>