
  <section class="login_bg">
<div class="container login-cntr-wrp">
    <div class="login-cntr">
      <div class="login-section">
     
        <div class="login-form">
          <div class="login-section">
            
                <h1 class="logo" id="alnkLogo"><img src="../assets/images/ACT_Certified.png"  class="logo1" alt="logo" ></h1>
        <h6>ACT Certified Educator is an innovative credentialing program to recognize individuals who meet certification requirements to tutor students preparing to take the ACT Test.</h6>
        <div *ngFor="let alert of alerts" >
          <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)" *ngIf="alert.msg">{{ alert.msg }}</alert>
        </div>   
        <div class="form-group" >
                <i style="color:red;float: right;">*</i>
              <input type="text" name="firstname" class="form-control" [(ngModel)]="firstname" placeholder="First Name" id="fullname" required>
             
            </div>
            <div class="form-group" >
              <i style="color:red;float: right;">*</i>
            <input type="text" name="lastname" class="form-control" [(ngModel)]="lastname" placeholder="Last Name" id="fullname" required>
           
          </div>
            <div class="form-group" >
                <i style="color:red;float: right;">*</i>
              <input type="text" name="email" class="form-control" [(ngModel)]="email1" placeholder="Email" id="email" required>
              
            </div>
            <div class="form-group" >
            
                  <i style="color:red;float: right;">*</i>
              <input type="password" name="password" class="form-control"  [(ngModel)]="pass1" placeholder="Password" id="password" required>
             
            </div>
            <div class="form-group" >
                <i style="color:red;float: right;">*</i>
              <input type="password" name="Cpassword" class="form-control"  [(ngModel)]="pass2" placeholder="Confirm Password" id="Cpassword" required>
             
            </div>
            <div class="form-group login-button">
              <button type="submit" class=""  (click)="createUser(firstname,lastname,email1,pass1,pass2)">Signup</button>
              <br/>
             
           <button  class="" routerLink="/login">Login</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>