.login_bg
{
	height:auto;
	background: url(assets/images/loginbg1.jpg);
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	table, thead, tbody, th, td, tr {
		display: block;
	}
}