<style>
  @media only screen and (max-width: 767px)
{
table, thead, tbody, th, td, tr {
    display:inline-table;
}

table[_ngcontent-c1], thead[_ngcontent-c1], tbody[_ngcontent-c1], th[_ngcontent-c1], td[_ngcontent-c1], tr[_ngcontent-c1] {
    display: block !important;
}

}
</style>
<div *ngFor="let alert of alerts" style="position: fixed;width:100%;z-index:2">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
    *ngIf="alert.msg">{{ alert.msg }}</alert>
</div>
<app-headerv></app-headerv>

<section class="product-bar">
  <div class="float-left product-text">Test Dates</div>
  <div class="float-right">

    <a (click)="openModal1(template3)">

      <button type="button" class="btn btn-primary">Add Test Dates</button></a>
  </div>


  <div class="clearfix"></div>
</section>
<div class="table-search">

  <div class="float-left">
    <div class="dropdown medium float-left">
    </div>
  </div>
  <div class="float-right">

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">View Test Dates</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true" title="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="padding0">
          <section class="content-area">
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstname" class="col-form-label">Test Name</label>
                  <input type="text" class="form-control" id="firstname" value={{food1.testName}} disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastname" class="col-form-label">Time</label>
                  <input type="text" class="form-control" id="lastname" value={{food1.time}} disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="staticEmail" class="col-form-label">Subject</label>
                  <input type="text" class="form-control" id="staticEmail" value={{food1.subject}} disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Company" class="col-form-label">Company</label>
                  <input type="text" class="form-control" id="Company" value={{food1.company}} disabled>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="Address" class="col-form-label">Address</label>
                  <input type="text" class="form-control" id="Address" value={{food1.address}} disabled>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Status" class="col-form-label">Location</label>
                  <input type="text" class="form-control" id="Status" value={{food1.location}} disabled>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Country" class="col-form-label">Country</label>
                  <input type="text" class="form-control" id="Country" value={{food1.country}} disabled>
                </div>
              </div>
            </div>
            <div class="float-right"> <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button>
            </div>
            <div class="clearfix"></div>
          </section>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="clearfix"></div>
  <ng-template #template1>
    <div class="modal-header">
      <h4 class="modal-title pull-left">View Test Dates</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" title="Close">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let alert of alerts1">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
          *ngIf="alert.msg">{{ alert.msg }}</alert>
      </div>
      <div class="padding0">
        <section class="content-area">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname" class="col-form-label">Test Name</label><span style="color:red;">*</span>
                <input type="text" class="form-control" id="firstname" [(ngModel)]="food1.testName" value={{food1.testName}}>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname" class="col-form-label">Time</label><span style="color:red;">*</span>
                <input type="text" class="form-control" id="lastname" [(ngModel)]="food1.time" value={{food1.lastName}}>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="staticEmail" class="col-form-label">Subject</label><span style="color:red;">*</span>
                <input type="text" class="form-control" id="staticEmail" value={{food1.subject}} [(ngModel)]="food1.subject">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Company" class="col-form-label">Company</label><span style="color:red;">*</span>
                <input type="text" class="form-control" id="Company" value={{food1.company}} [(ngModel)]="food1.company">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Address" class="col-form-label">Address</label><span style="color:red;">*</span>
                <input type="text" class="form-control" id="Address" value={{food1.address}} [(ngModel)]="food1.address">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Country" class="col-form-label">Country</label><span style="color:red;">*</span>
                <input type="text" class="form-control" id="Country" value={{food1.country}} [(ngModel)]="food1.country">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Status" class="col-form-label">TrainingStartDate</label><span style="color:red;">*</span>

                <div class="form-group">
                  <input type="text" [(ngModel)]="food1.trainingStartDate" placeholder="Datepicker" class="form-control"
                    placement="top" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Status" class="col-form-label">TrainingEndDate</label><span style="color:red;">*</span>

                <div class="form-group">
                  <input type="text" [(ngModel)]="food1.trainingEndDate" placeholder="Datepicker" class="form-control"
                    placement="top" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
                </div>
              </div>
            </div>
          </div>


          <div class="float-right"> <button type="button" class="btn btn-primary" (click)="updateTestdata(food1)">Update</button>
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button> </div>
          <div class="clearfix"></div>
        </section>
      </div>
    </div>
  </ng-template>

  <ng-template #template3>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Test Data</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" title="Close">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let alert of alerts1">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
          *ngIf="alert.msg">{{ alert.msg }}</alert>
      </div>
      <div class="padding0">
        <section class="content-area">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname" class="col-form-label">Test Name</label> <span style="color:red;">*</span>
                <input type="text" class="form-control" id="testName" [(ngModel)]="testName">

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname" class="col-form-label">Time</label><span style="color:red;">*</span>
                <input type="text" class="form-control" id="lastname" [(ngModel)]="time">

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="staticEmail" class="col-form-label">Subject</label> <span style="color:red;">*</span>
                <input type="text" class="form-control" id="staticEmail" [(ngModel)]="subject">

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Company" class="col-form-label">Company</label><span style="color:red;">*</span>
                <input type="text" class="form-control" id="Company" [(ngModel)]="company">

              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="Address" class="col-form-label">Address</label><span style="color:red;">*</span>
                <input type="text" class="form-control" id="Address" [(ngModel)]="address">

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Country" class="col-form-label">Country</label> <span style="color:red;">*</span>
                <input type="text" class="form-control" id="Country" [(ngModel)]="country">

              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Status" class="col-form-label">TrainingStartDate</label><span style="color:red;">*</span>

                <div class="form-group">
                  <input type="text" [(ngModel)]="trainingStartDate" placeholder="Datepicker" class="form-control"
                    placement="top" bsDatepicker datepicker-append-to-body="true" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Status" class="col-form-label">TrainingEndDate</label> <span style="color:red;">*</span>
                <div class="form-group">
                  <input type="text" [(ngModel)]="trainingEndDate" placeholder="Datepicker" class="form-control"
                    placement="top" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
                </div>
              </div>
            </div>
          </div>


          <div class="float-right"> <button type="button" class="btn btn-primary" (click)="addTestdata(testName,time,subject,company,address,country,trainingStartDate,trainingEndDate)">Create</button>
            <button type="button" class="btn btn-primary" (click)="cleardata()">Clearall</button> </div>
          <div class="clearfix"></div>
        </section>
      </div>
    </div>
  </ng-template>
</div>

<table datatable *ngIf="this.temp_var" [dtOptions]="dtOptions">
  <thead>
    <tr>

      <th>
        <input type="checkbox" [checked]="isAllChecked()" (change)="checkAll($event)" >
      </th>
      <th> Test Name &nbsp;</th>
      <th>Company &nbsp;</th>
      <th>Subject &nbsp;</th>
      <th>Country &nbsp;</th>
      <th>Status &nbsp;</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody *ngIf="Testdateuser">
    <tr *ngFor="let food of Testdateuser">

      <td data-title="Select">
        <input type="checkbox" [(ngModel)]="food.state" value="{{food.id}}" id="chka" style="margin-left: 12%;">
      </td>
      <td data-title="Test Name"><a (click)="openModal(template,food)" style="cursor: pointer;"> {{food.testName}} </a></td>
      <td data-title="Company">{{food.company}}</td>
      <td data-title="Subject">{{food.subject}}</td>
      <td data-title="Country">{{food.country}}</td>
      <td data-title="Status" *ngIf="food.status=='PENDING'">ACTIVE</td>
      <td data-title="Status" *ngIf="food.status !='PENDING'">{{food.status}}</td>
      <td data-title="Action" class="action-icon"><i class="fa fa-pencil" *ngIf="food.status!='INACTIVE'" title="Edit"
          (click)="openModalWithComponent(template1,food)" aria-hidden="true"></i>&nbsp;<i class="fa fa-trash" title="Delete"
          *ngIf="food.status!='INACTIVE'" aria-hidden="true" (click)="deleteTestdate(food)"></i><label *ngIf="food.status=='INACTIVE'"
          style="color:red">Deleted </label></td>

    </tr>

  </tbody>


</table>
<!-- <div  *ngIf="!Testdateuser" style="text-align:center"><h4>No Data Exists </h4></div> -->