<div class="container login-cntr-wrp">

  <div class="login-cntr">
    <div class="login-section">
      <h1 class="logo" id="alnkLogo"><img class="logo1" src="../assets/images/ACT_Certified.png" alt="logo"></h1>
      <h6>ACT Certified Educator is an innovative credentialing program to recognize individuals who meet certification
        requirements to tutor students preparing to take the ACT Test.</h6>
      <div class="login-form">
        <div *ngFor="let alert of alerts">
          <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
            *ngIf="alert.msg">{{ alert.msg }}</alert>
        </div>
        <div class="login-section">

          <div class="form-group">
            <i style="color:red;float: right;">*</i>
            <input type="password" name="password" class="form-control" [(ngModel)]="pass11" placeholder="Enter New Password"
              id="password" required>
          </div>

          <div class="form-group">
            <i style="color:red;float: right;">*</i>
            <input type="password" name="Cpassword" class="form-control" [(ngModel)]="pass21" placeholder="Confirm Password"
              id="Cpassword" required>
          </div>

        </div>
        <br /><br />
        <div class="float-right"> <button type="button" class="btn btn-primary" (click)="Changepass(pass11,pass21)">Update</button>
          <button class="btn btn-primary" routerLink="/login">Cancel</button> </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>