<div *ngFor="let alert of alerts" style="position: fixed;width:100%;z-index:2">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
    *ngIf="alert.msg">{{ alert.msg }}</alert>
</div>
<app-headerv></app-headerv>


<section class="product-bar">
  <div class="float-left product-text">Tutors</div>
  <div class="float-right">
    <button type="button" class="btn btn-primary float-right" (click)="importTutordata(template3)">Import </button>
  </div>


  <div class="clearfix"></div>
</section>
<div class="table-search">

  <div class="float-left">
    <div class="dropdown medium float-left">

    </div>
  </div>
  <div class="float-right">



  </div>
  <div class="clearfix"></div>
  <ng-template #template1>
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" title="Close">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let alert of alerts1">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
          *ngIf="alert.msg">{{ alert.msg }}</alert>
      </div>
      <div class="padding0">
        <section class="content-area">
          <div class="row">
            <div class="col-md-12">

              <h4>You are trying to approve a tutor!</h4>
              <p>Click confirm to approve or cancel to reject</p>
              <div class="float-center"> <button (click)="changesatus(food1,'rejected')" class="btn btn-primary">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="changesatus(food1,'approved')">Confirm</button></div>
            </div>

          </div>

          <div class="clearfix"></div>
        </section>

      </div>
    </div>
  </ng-template>
  <div class="clearfix"></div>
  <ng-template #template2>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Tutor Confirmation</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" title="Close">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let alert of alerts1">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
          *ngIf="alert.msg">{{ alert.msg }}</alert>
      </div>
      <div class="padding0">
        <section class="content-area">
          <div class="row">
            <div class="col-md-12">

              <h1>You are trying to approve a tutor!</h1>
              <p>Click confirm to approve or cancel to cancel</p>

            </div>

          </div>
          <div class="float-right"> <button (click)="modalRef.hide()" class="btn btn-primary">Cancel</button> <button
              type="button" class="btn btn-primary" (click)="addnewagent(firstname,lastname,EmailID,subject,Company,Address,Location,Country,Status)">Confirm</button></div>
          <div class="clearfix"></div>
        </section>
      </div>
    </div>

  </ng-template>
  <ng-template #template3>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Upload Tutor CSV File</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" title="Close">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let alert of alerts1">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
          *ngIf="alert.msg">{{ alert.msg }}</alert>
      </div>
      <div class="padding0">
        <section class="content-area">
          <div class="row">
            <div class="col-md-12">
              <input id="fileImportInput" type="file" accept=".csv" class="upload" (change)="changeListener($event.target.files)">
            </div>
            <div class="col-md-12 text-right pt-3"> <button (click)="modalRef.hide()" class="btn btn-primary">Cancel</button>
              <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="upload()">Upload</button> </div>
          </div>
          <div class="clearfix"></div>
        </section>
      </div>
    </div>

  </ng-template>
</div>
<ng-template #template>



  <div class="modal-header">
    <h4 id="dialog-sizes-name1" class="modal-title pull-left">View Tutor Data</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" style="font-size: 35px;" title="Close">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-viewtutor></app-viewtutor>
  </div>


</ng-template>

<table datatable *ngIf="this.temp_var" [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th style="width:40px;">

        <input type="checkbox" [checked]="isAllChecked()" (change)="checkAll($event)">

      </th>

      <th> Full Name &nbsp;</th>
      <th> Preferred Name &nbsp;</th>
      <th>Email &nbsp;</th>
      <th> Subjects&nbsp;</th>
      <th> Trainer&nbsp;</th>
      <th> Country&nbsp;</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="ageants1">


    <tr *ngFor="let food of ageants1">
      <td data-title="Select">

        <input type="checkbox" [checked]="food.state" [(ngModel)]="food.state" value="{{food.id}}">

      </td>
      <td data-title="Full Name" style="cursor:pointer;" title="view details"> <a (click)="openModal(template,food)">{{food.fullName}}
        </a></td>
      <td data-title="Preferred Name">{{food.firstName}}</td>
      <td data-title="Email">{{food.plmUser.email}}</td>
      <td data-title="Subjects" *ngIf="food.tutorTCS?.length==0">N/A</td>
      <td data-title="Subjects" *ngIf="food.tutorTCS?.length!=0">
        <p *ngFor="let sub of food.tutorTCS">{{sub.section}} </p>
      </td>
      <td data-title="Trainer" *ngIf="food.tutorTrainers?.length!=0">{{food.tutorTrainers[0].trainerName}}</td>
      <td data-title="Trainer" *ngIf="food.tutorTrainers?.length==0">N/A</td>
      <td data-title="Country">{{food.country.countryName}}</td>
      <td data-title="Status">{{food.status}}</td>

      <td data-title="Action" class="action-icon"><button type="button" class="btn btn-primary" (click)="openModalWithComponent(template1,food)">Change
          Status</button>
      </td>
    </tr>

  </tbody>

</table>
<!-- <div *ngIf="!ageants1"><span>No Data Exists! </span></div>  -->