/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  .nav-link:hover{
    background: #016089;
}

.nav-link:active{
    background: #016089;
}
.nav-link:visited{
    background:  #016089;
}
/* a.nav-link:{
    background-color: rgb(66, 133, 66) !important;
} */
.navbar-light .navbar-nav .nav-item.active {
    background: #016089;
}

a:active{
    background:  #016089;
}
.upload{
  font-family: Montserrat,sans-serif;
  padding: 5px;
}


.btnds{
  /* width:50%; */
  margin-left:44%;
}

@media(max-width: 480px)
{
  .btnds{
  margin-left:34%;
  }
}

/* @media only screen and (max-width: 767px) {
  table, thead, tbody, th, td, tr {
      display: block;
  }
} */



.nav-link:hover{
  background: #016089;
}

.nav-link:active{
  background: #016089;
}
.nav-link:visited{
  background:  #016089;
}
.navbar-light .navbar-nav .nav-item.active {
  background: #016089;
}

a:active{
  background:  #016089;
}

/*******************************************Calendar css****************************************************/


@media only screen and (max-width: 767px){

 table{
width: 100%;overflow-x: scroll;
 }

thead tr {
  position:none;
  top: -9999px;
  left: -9999px;
}
}

@media only screen and (max-width: 767px)
{
thead[_ngcontent-c6] tr[_ngcontent-c6] {
  position: none;
  top: -9999px;
  left: -9999px;
}
}

@media only screen and (max-width: 767px){
thead tr {
  /* position: absolute; */
  /* display: block; */
  position: unset;
  top: -9999px;
  left: -9999px;
}
}
@media only screen and (max-width: 767px)
{
tr {
  border: 0px solid #ddd;
  margin-bottom: 20px;
}
*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table.dataTable {
  /* display: grid; */
  display: -webkit-inline-box;
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
}
table {
  border-collapse: collapse;
}
table[_ngcontent-c1] {
  /* display: -ms-inline-grid; */
  /* display: inline-grid !important; */
  display: -webkit-inline-box;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
table {
  /* display: table; */
  /* display: inline-grid; */
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

body {
  background: '#f7f7f7s';
  font-family: 'Montserrat', sans-serif;
  color: #373942;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
}