<div *ngFor="let alert of alerts" style="position: fixed;width:100%;z-index:2">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
    *ngIf="alert.msg">{{ alert.msg }}</alert>
</div>
<app-headerv></app-headerv>
<ng-template #template1>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let alert of alerts1">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
        *ngIf="alert.msg">{{ alert.msg }}</alert>
    </div>
    <div class="padding0">
      <section class="content-area">
        <div class="row">
          <div class="col-md-12">

            <h4>Are you sure you want to submit?</h4>
            <p>You won't be able to change the responses after you click Submit</p>
            <div class="float-center">
              <button type="button" class="btn btn-primary" (click)="addn2(f1)">Submit</button>
              <button (click)="modalRef.hide()" class="btn btn-primary">Cancel</button>
            </div>
          </div>

        </div>

        <div class="clearfix"></div>
      </section>

    </div>
  </div>
</ng-template>

<section class="product-bar">


  <div class="float-left product-text">ACT Certified Educator</div>

  <div class="clearfix"></div>
</section>
<section class="content-area">
  <form [formGroup]="invoiceForm" class="col-md-12" novalidate>
    <!-- SOF intro text block -->
    <div class="intro-txt-blk" *ngIf="next==1">
      <p>Thank you for registering for the ACT Certified Educator program. Please complete the following form as
        completely
        and accurately as possible. </p>
      <p>As part of the certification we are evaluating all candidates to determine if they have engaged in activities
        that
        would compromise ACT’s intellectual property or interfere with the validity of ACT scores. The information you
        are
        providing in this registration process will be used for this purpose. To ensure that your information will not
        be
        used in any other way, please view our data privacy policies. Thank you.</p>
      <p>For more information, visit
        <a href="https://www.act.org/content/act/en/products-and-services/act-certified-educator.html " target="_blank">https://www.act.org/content/act/en/products-and-services/act-certified-educator.html</a>
      </p>
    </div>

    <!-- EOF step indicator -->
    <!-- SOF form row -->
    <div class="step-indicator-wrp">

      <ul class="step-indicator">
        <li>
          <span class="active" *ngIf="next==1" (click)="goto(1)"></span>
          <span *ngIf="next!=1" (click)="goto(1)"></span>
        </li>
        <li>
          <span class="active" *ngIf="next==2" (click)="goto(2)"></span>
          <span *ngIf="next!=2" (click)="goto(2)"></span>
        </li>
        <li>
          <span class="active" *ngIf="next==3" (click)="goto(3)"></span>
          <span *ngIf="next!=3" (click)="goto(3)"></span>
        </li>
        <li>
          <span class="active" *ngIf="next==4" (click)="goto(4)"> </span>
          <span *ngIf="next!=4" (click)="goto(4)"></span>
        </li>
        <li>
          <span class="active" *ngIf="next==5" (click)="goto(5)"> </span>
          <span *ngIf="next!=5" (click)="goto(5)"></span>
        </li>
        <li>
          <span class="active" *ngIf="next==6" (click)="goto(6)"> </span>
          <span *ngIf="next!=6" (click)="goto(6)"></span>
        </li>
        <li>
          <span class="active" *ngIf="next==7" (click)="goto(7)"></span>
          <span *ngIf="next!=7" (click)="goto(7)"></span>
        </li>
        <li>
          <span class="active" *ngIf="next==8" (click)="goto(8)"></span>
          <span *ngIf="next!=8" (click)="goto(8)"></span>
        </li>
        <li>
          <span class="active" *ngIf="next==9" (click)="goto(9)"></span>
          <span *ngIf="next!=9" (click)="goto(9)"></span>
        </li>
        <li>
          <span class="active" *ngIf="next==10" (click)="goto(10)"> </span>
          <span *ngIf="next!=10" (click)="goto(10)"></span>
        </li>
      </ul>
    </div>
    <div *ngIf="next==1">
      <section class="row form-wrp">

        <div class="col-md-12 form-hdr">Applicant Information</div>
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name </label>
            <span style="color:red"> *</span>
            <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.Firstname" (keyup)="nextT2()"
              #name1="ngModel" [ngModelOptions]="{standalone: true}" placeholder="Enter First name" required>

          </div>
          <div class="form-group">
            <label>Last Name </label>
            <span style="color:red"> *</span>
            <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.Lastname" (keyup)="nextT2()"
              #name1="ngModel" [ngModelOptions]="{standalone: true}" placeholder="Enter Last name" required>

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Date of Birth </label>
            <span style="color:red"> *</span>
            <div class="input-wrp">
              <input type="text" [(ngModel)]="tutor.dob" [ngModelOptions]="{standalone: true}" (ngModelChange)="nextT2()"
                #dob="ngModel" class="form-control" placeholder="MM-DD-YYYY" class="form-control" placement="top" #dp="bsDatepicker"
                bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }" required>
              <span class="icon icon-calendar4" (click)="dp.toggle()"></span>

            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Residing Address </label>
            <span style="color:red"> *</span>
            <textarea class="form-control" rows="4" [(ngModel)]="tutor.Residing" (keyup)="nextT2()" [ngModelOptions]="{standalone: true}"
              #address="ngModel" placeholder="Current Address" style="height:129px;" required></textarea>


          </div>
          <div class="form-group">
            <label>Registered Email Address </label>
            <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.remail" [ngModelOptions]="{standalone: true}"
              disabled>

          </div>
        </div>
      </section>
      <!-- EOF form row -->
      <!-- SOF form row -->
      <section class="row form-wrp" formArrayName="tutorTPA">

        <div class="col-md-12 form-hdr">Please list previous addresses (if any) for the last five years:</div>
        <div class="col-md-12">
          <div class="form-group" *ngFor="let tutora of invoiceForm.controls.tutorTPA.controls; let i=index"
            [formGroupName]="i">
            <label>Previous Address {{i + 1}} </label>
            <div class="add-edit-wrp">
              <textarea class="form-control" rows="3" formControlName="address" placeholder="Previous Address"></textarea>
              <div class="form-group-btnwrp">
                <button type="button" class="btn btn-add" (click)="addtutorTPA()">
                  <span class="icon icon-plus-circle2" ></span>
                </button>
                <button type="button" class="btn btn-delete" (click)="removetutorTpa(i)">
                  <span class="icon icon-bin2" *ngIf="invoiceForm.controls.tutorTPA.controls.length > 1" ></span>
                </button>

              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- EOF form row -->
      <!-- SOF form row -->
      <section formArrayName="tutorTEA">

        <div class="col-md-12 form-hdr">Please provide email addresses you use or have used in the past five years:</div>
        <div class="row form-wrp" *ngFor="let tutora of invoiceForm.controls.tutorTEA.controls; let i=index"
          [formGroupName]="i"> 
          <div class="col-md-6">
            <div class="form-group">
              <label>Email Address {{i + 1}} </label>

              <input type="text" class="form-control" aria-describedby="name" formControlName="email" placeholder="Enter email adress"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-zA-Z]{2,3}$">
              <small *ngIf="invoiceForm.controls.tutorTEA.controls[i].controls.email.errors?.pattern && invoiceForm.controls.tutorTEA.controls[i].controls.email.touched"
                class="text-danger">
                
                Please insert valid email id.
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Type of Email Address</label>
              <div class="add-edit-wrp">
                <select class="form-control" formControlName="typeOfAddress">
                  <option value="1">Select from the list</option>
                  <option value="Personal">Personal</option>
                  <option value="Business">Business</option>
                </select>
                <div class="form-group-btnwrp">
                  <button type="button" class="btn btn-add" (click)="addtutorTEA()">
                    <span class="icon icon-plus-circle2" ></span>
                  </button>
                  <button type="button" class="btn btn-delete" *ngIf="invoiceForm.controls.tutorTEA.controls.length > 1"
                    (click)="removetutorTea(i)">
                    <span class="icon icon-bin2"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- EOF form row -->
      <!-- SOF form row -->
      <section formArrayName="tutorTPN">
        <div class="col-md-12 form-hdr">Plese provide the phone numbers you use or have used in the past five years:</div>
        <div class="row form-wrp" *ngFor="let tutora of invoiceForm.controls.tutorTPN.controls; let i=index"
          [formGroupName]="i">
          <div class="col-md-6">
            <div class="form-group">
              <label>Phone Number(s) {{i + 1}}</label>
      <input type="number" class="form-control" aria-describedby="name"   formControlName="phoneNumber"
                placeholder="Enter phone number" pattern="^[0-9]{1,10}$" >
              
        <small *ngIf="invoiceForm.controls.tutorTPN.controls[i].controls.phoneNumber.errors?.pattern" class="text-danger">
              Maximum length of phone number should be 10 digit
              </small>
            </div>
            
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Type of Phone Number</label>
              <div class="add-edit-wrp">
                <select class="form-control" formControlName="typeOfNumber">
                  <option value="1">Select from the list</option>
                  <option value="2">Personal</option>
                  <option value="3">Home</option>
                  <option value="4">office</option>
                </select>
                <div class="form-group-btnwrp">
                  <button type="button" class="btn btn-add" (click)="addtutorTPN()">
                    <span class="icon icon-plus-circle2"></span>
                  </button>
                  <button type="button" class="btn btn-delete" *ngIf="invoiceForm.controls.tutorTPN.controls.length > 1"
                    (click)="removetutorTPN(i)">
                    <span class="icon icon-bin2"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- EOF form row -->
    </div>
    <!-- SOF form row -->
    <div class="" *ngIf="next==2">
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">Have you personally participated in one or more test preparation programs as a
          student?
          <span style="color:red">*</span>
        </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline mr-5">
            <input class="form-check-input" type="radio" name="inlineRadioOptions1" [(ngModel)]="isDisabled"
              [ngModelOptions]="{standalone: true}" id="inlineRadio1" (ngModelChange)="nextT2()" (change)="onSelectionChange1()"
              value="false">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" [(ngModel)]="isDisabled"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="nextT2()" (change)="onSelectionChange()" value="true">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>

        </div>

      </section>
      <!-- EOF form row -->
      <!-- SOF form row -->
      <section formArrayName="tutorTPAS">
        <div class="col-md-12 form-hdr">Please provide the Name, Date and Duration of the program(s) in which you have
          participated:</div>
        <!-- <div class="form_row"> -->
        <div class="row form-wrp" *ngFor="let tutora of invoiceForm.controls.tutorTPAS.controls; let i=index"
          [formGroupName]="i">
          <div class="col-md-4">
            <div class="form-group">
              <label>Name</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <input type="text" class="form-control" (keyup)="nextT2()" namearia-describedby="name" formControlName="name"
                placeholder="Name">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleInputPassword1">Date</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="input-wrp">
                <input type="text" formControlName="date" (keyup)="nextT2()" class="form-control" placeholder="MM-DD-YYYY"
                  placement="top" #dp="bsDatepicker" bsDatepicker [bsConfig]="{dateInputFormat: 'MM-DD-YYYY'}">
                <span class="icon icon-calendar4" (click)="dp.toggle()"></span>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>Duration</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="add-edit-wrp">
                <input type="text" class="form-control" (keyup)="nextT2()" id="dur" formControlName="duration"
                  aria-describedby="duration" placeholder="Duration">
                <div class="form-group-btnwrp">
                  <button type="button" class="btn btn-add" [disabled]="isDisabled=='true'" (click)="addtutorTPAS()">
                    <span class="icon icon-plus-circle2"></span>
                  </button>
                  <button type="button" class="btn btn-delete" [disabled]="isDisabled=='true'" *ngIf="invoiceForm.controls.tutorTPAS.controls.length > 1"
                    (click)="removetutorTPAS(i)">
                    <span class="icon icon-bin2"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- </div> -->
      </section>
    </div>
    <!-- EOF form row -->
    <!-- SOF form row -->
    <div class="" *ngIf="next==3">
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">Have you ever taken the ACT?
          <span style="color:red">*</span>
        </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline mr-5">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio11" [(ngModel)]="isDisabled3"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="next3()" (change)="onSelectTutotTa()" value="false">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio11" [(ngModel)]="isDisabled3"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="next3()" (change)="onSelectTutotTa()" value="true">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>

        </div>
      </section>
      <!-- EOF form row -->
      <!-- SOF form row -->
      <section formArrayName="tutorTTA">
        <div class="col-md-12 form-hdr">For each test, please provide the Date, Location as well as an Account Number
          (if available):</div>
        <!-- <div class="form_row"> -->
        <div class="row form-wrp" *ngFor="let tutora of invoiceForm.controls.tutorTTA.controls; let i=index"
          [formGroupName]="i">

          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleInputPassword1">Date</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="input-wrp">
                <input type="text" formControlName="date" (keyup)="nextT2()" class="form-control" placeholder="MM-DD-YYYY"
                  placement="top" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }">
                <span class="icon icon-calendar4" (click)="dp.toggle()"></span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Location</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <input type="text" class="form-control" namearia-describedby="name" formControlName="location" (keyup)="nextT2()"
                placeholder="Location">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>Account Number</label>
              <div class="add-edit-wrp">
                <input type="text" class="form-control" aria-describedby="duration" (keyup)="nextT2()" formControlName="accountNumber"
                  placeholder="Account Number">
                <div class="form-group-btnwrp">
                  <button type="button" class="btn btn-add" [disabled]="isDisabled3=='true'" (click)="addtutorTTA()">
                    <span class="icon icon-plus-circle2"></span>
                  </button>
                  <button type="button" class="btn btn-delete" [disabled]="isDisabled3=='true'" *ngIf="invoiceForm.controls.tutorTTA.controls.length > 1"
                    (click)="removetutorTTA(i)">
                    <span class="icon icon-bin2"></span>
                  </button>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->
          </div>

        </div>


      </section>
    </div>

    <!-- SOF form row -->
    <div class="" *ngIf="next==4">
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">Have you ever participted in the administration of an ACT exam (e.g. as a
          proctor/invigilator)?
          <span style="color:red">*</span>
        </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline mr-5">
            <input class="form-check-input" type="radio" name="inlineRadioOption6" [(ngModel)]="isDisabled4"
              (ngModelChange)="nextT2()" [ngModelOptions]="{standalone: true}" (change)="onSelecttutorTAE(false)" id="inlineRadio2"
              value="false">
            <label class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOption6" id="inlineRadio2" [(ngModel)]="isDisabled4"
              (ngModelChange)="nextT2()" [ngModelOptions]="{standalone: true}" (change)="onSelecttutorTAE(true)" value="true">
            <label class="form-check-label">No</label>
          </div>
        </div>
      </section>
      <!-- EOF form row -->
      <!-- SOF form row -->
      <section formArrayName="tutorTAE">
        <div class="col-md-12 form-hdr">For each test, please provide the Date and Location:</div>

        <div class="row form-wrp" *ngFor="let tutora of invoiceForm.controls.tutorTAE.controls; let i=index"
          [formGroupName]="i">

          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputPassword1">Date</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="input-wrp">
                <input type="text" formControlName="date" (keyup)="nextT2()" class="form-control" placeholder="MM-DD-YYYY"
                  placement="top" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }">
                <span class="icon icon-calendar4" (click)="dp.toggle()"></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label>Location</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="add-edit-wrp">
                <input type="text" class="form-control" (keyup)="nextT2()" namearia-describedby="name" formControlName="location"
                  placeholder="Location">


                <div class="form-group-btnwrp">
                  <button type="button" class="btn btn-add" [disabled]="isDisabled4=='true'" (click)="addtutorTAE()">
                    <span class="icon icon-plus-circle2"></span>
                  </button>
                  <button type="button" class="btn btn-delete" [disabled]="isDisabled4=='true'" *ngIf="invoiceForm.controls.tutorTAE.controls.length > 1"
                    (click)="removetutorTAE(i)">
                    <span class="icon icon-bin2"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>

    <div class="" *ngIf="next==5">
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">In the last five years, have you worked with any entities that prepare
          individuals for the ACT or SAT?
          <span style="color:red">*</span>
        </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline mr-5">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio21" [(ngModel)]="isDisabled5"
              (ngModelChange)="nextT2()" [ngModelOptions]="{standalone: true}" (change)="onSelecttutorTASE(false)"
              value="false">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio21" [(ngModel)]="isDisabled5"
              (ngModelChange)="nextT2()" [ngModelOptions]="{standalone: true}" (change)="onSelecttutorTASE(true)" value="true">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </section>
      <!-- EOF form row -->
      <!-- SOF form row -->
      <section formArrayName="tutorTASE">
        <div class="col-md-12 form-hdr">Please provide the Names and URLs of these sites:</div>

        <div class="row form-wrp" *ngFor="let tutora of invoiceForm.controls.tutorTASE.controls; let i=index"
          [formGroupName]="i">

          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputPassword1">Name</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="input-wrp">
                <input type="text" class="form-control" (keyup)="nextT2()" namearia-describedby="name" formControlName="name"
                  placeholder="Name">

              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label>URL </label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="add-edit-wrp">
                <input type="text" class="form-control" namearia-describedby="name" (keyup)="nextT2()" formControlName="url"
                  placeholder="http://" pattern="https?://.+">
                <span style="color:red" *ngIf="invoiceForm.controls.tutorTASE.controls[i].controls.url.errors?.pattern && invoiceForm.controls.tutorTASE.controls[i].controls.url.dirty">

                  Sorry Not a Valid URL.Please include http:// </span>

                <div class="form-group-btnwrp">
                  <button type="button" class="btn btn-add" [disabled]="isDisabled5=='true'" (click)="addtutorTASE()">
                    <span class="icon icon-plus-circle2"></span>
                  </button>
                  <button type="button" class="btn btn-delete" [disabled]="isDisabled5=='true'" *ngIf="invoiceForm.controls.tutorTASE.controls.length > 1"
                    (click)="removetutorTASE(i)">
                    <span class="icon icon-bin2"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>



    <div class="" *ngIf="next==6">
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">Do you own or manage any websites, blogs, forums or social media entities?
          <span style="color:red">*</span>
        </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline mr-5">
            <input class="form-check-input" type="radio" name="inlineRadioOption3s" [(ngModel)]="isDisabled55"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="nextT2()" (change)="onSelecttutorTOE(false)" id="inlineRadio3"
              value="false">
            <label class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOption3s" [(ngModel)]="isDisabled55"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="nextT2()" (change)="onSelecttutorTOE(true)" id="inlineRadio3"
              value="true">
            <label class="form-check-label">No</label>
          </div>
        </div>
      </section>
      <!-- EOF form row -->
      <!-- SOF form row -->
      <section formArrayName="tutorTOE">
        <div class="col-md-12 form-hdr">Please provide the Names and URLs of these sites:</div>
        <div class="row form-wrp" *ngFor="let tutora of invoiceForm.controls.tutorTOE.controls; let i=index"
          [formGroupName]="i">

          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputPassword1">Name </label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="input-wrp">
                <input type="text" class="form-control" (keyup)="nextT2()" namearia-describedby="name" formControlName="name"
                  placeholder="Name">

              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label>URL </label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="add-edit-wrp">
                <input type="text" class="form-control" (keyup)="nextT2()" namearia-describedby="name" formControlName="url"
                  placeholder="http://" pattern="https?://.+">
                <span style="color:red" *ngIf="invoiceForm.controls.tutorTOE.controls[i].controls.url.errors?.pattern && invoiceForm.controls.tutorTOE.controls[i].controls.url.dirty">

                  Sorry Not a Valid URL.Please include http:// </span>

                <div class="form-group-btnwrp">
                  <button type="button" class="btn btn-add" [disabled]="isDisabled55=='true'" (click)="addtutorTOE()">
                    <span class="icon icon-plus-circle2"></span>
                  </button>
                  <button type="button" class="btn btn-delete" [disabled]="isDisabled55=='true'" *ngIf="invoiceForm.controls.tutorTOE.controls.length > 1"
                    (click)="removetutorTOE(i)">
                    <span class="icon icon-bin2"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    <div class="" *ngIf="next==7">
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">Do you have any non-test-preparation teaching experience?
          <span style="color:red">*</span>
        </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline mr-5">
            <input class="form-check-input" type="radio" name="inlineRadioOptions54" id="inlineRadio4" [(ngModel)]="isDisabled51"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="nextT2()" (change)="onSelecttutorTE(false)" value="false">
            <label class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions54" id="inlineRadio4" [(ngModel)]="isDisabled51"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="nextT2()" (change)="onSelecttutorTE(true)" value="true">
            <label class="form-check-label">No</label>
          </div>
        </div>
      </section>
      <!-- EOF form row -->
      <!-- SOF form row -->
      <section formArrayName="tutorTE">
        <div class="col-md-12 form-hdr">Please provide the Name and Location of the school with the Grade Level and
          Subject(s) taught:</div>
        <!-- <div class="form_row"> -->
        <div class="row form-wrp" *ngFor="let tutora of invoiceForm.controls.tutorTE.controls; let i=index"
          [formGroupName]="i">

          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label for="exampleInputPassword1">Name </label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="input-wrp">
                <input type="text" class="form-control" (keyup)="nextT2()" namearia-describedby="name" formControlName="name"
                  placeholder="Name">

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label for="exampleInputPassword1">Location of School</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="input-wrp">
                <input type="text" class="form-control" (keyup)="nextT2()" namearia-describedby="name" formControlName="locationOfSchool"
                  placeholder="Location of School">

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label for="exampleInputPassword1">Grade Level of Students</label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="input-wrp">
                <input type="text" class="form-control" (keyup)="nextT2()" namearia-describedby="name" formControlName="gradeLvlOfStudent"
                  placeholder="Grade Level of Students">

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">

            <div class="form-group">
              <label>Subject(s) Taught </label>
              <span *ngIf="fl==true" style="color:red"> *</span>
              <div class="add-edit-wrp">
                <input type="text" class="form-control" (keyup)="nextT2()" namearia-describedby="name" formControlName="subjectTaught"
                  placeholder="Subject(s) Taught">


                <div class="form-group-btnwrp">
                  <button type="button" class="btn btn-add" [disabled]="isDisabled51=='true'" (click)="addtutorTE()">
                    <span class="icon icon-plus-circle2"></span>
                  </button>
                  <button type="button" class="btn btn-delete" [disabled]="isDisabled51=='true'" *ngIf="invoiceForm.controls.tutorTE.controls.length > 1"
                    (click)="removetutorTE(i)">
                    <span class="icon icon-bin2"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    <section class="row form-wrp" *ngIf="next==8">
      <div class="col-md-12 form-hdr">Tell us about your own education
        <span style="color:red">*</span>
      </div>

      <div class="row form_row">
        <div class="col-sm-6 col-md-6 col-lg-3">

          <div class="form-group">
            <label class="l1">What is the highest degree you have earned?
              <span style="color:red">*</span>
            </label>
            <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.highestDegree"
              #highestDegree="ngModel" (keyup)="nextT2()" [ngModelOptions]="{standalone: true}" placeholder="Please fill"
              required>
            <small>If not applicable, please write N/A.</small>

          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="l1"> What were your major and minor (if applicable)?
              <span style="color:red">*</span>
            </label>
            <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.majorMinor" (keyup)="nextT2()"
              #majorMinor="ngModel" [ngModelOptions]="{standalone: true}" placeholder="Please fill" required>
            <small>If not applicable, please write N/A.</small>

          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="l1">From which Institution did you receive this degree?
              <span style="color:red">*</span>
            </label>
            <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.instname" (keyup)="nextT2()"
              #instname="ngModel" [ngModelOptions]="{standalone: true}" placeholder="Please fill" required>
            <small>If not applicable, please write N/A.</small>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="l1">What is the year of your degree received?
              <span style="color:red">*</span>
            </label>
            <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.yearOfDegreeReceived"
              (keyup)="nextT2()" #yod="ngModel" [ngModelOptions]="{standalone: true}" placeholder="Please fill"
              required>
            <small>If not applicable, please write N/A.</small>
          </div>
        </div>

      </div>
    </section>

    <div class="" *ngIf="next==8">

      <!-- EOF form row -->
      <!-- SOF form row -->
      <section class="row">
        <div class="col-md-12 form-hdr">Which of the following sections of the ACT do you intend to tutor? Select all
          that apply.
          <span style="color:red">*</span>
        </div>
        <div class="col-md-12">

          <input type="checkbox" id="Status" [(ngModel)]="tutor.Basics" value="tutor.Basics" (ngModelChange)="change($event, 'Basics')"
            [ngModelOptions]="{standalone: true}" (change)="nextT2()" (checked)="tutor.Basics">
          <label for="exampleInputPassword1"> &nbsp;Basics</label>&nbsp;
          <input type="checkbox" id="Status" [(ngModel)]="tutor.english" value="tutor.English" (ngModelChange)="change($event, 'English')"
            [ngModelOptions]="{standalone: true}" (change)="nextT2()" (checked)="tutor.English">
          <label for="exampleInputPassword1">&nbsp;English</label>&nbsp;
          <input type="checkbox" id="Status" [(ngModel)]="tutor.Reading" value="tutor.English" (ngModelChange)="change($event, 'Reading')"
            [ngModelOptions]="{standalone: true}" (change)="nextT2()" (checked)="tutor.Reading">
          <label for="exampleInputPassword1"> &nbsp;Reading</label> &nbsp;
          <input type="checkbox" id="Status" [(ngModel)]="tutor.Math" value="tutor.English" (ngModelChange)="change($event, 'Math')"
            [ngModelOptions]="{standalone: true}" (change)="nextT2()" (checked)="tutor.Math">
          <label for="exampleInputPassword1">&nbsp;Math</label> &nbsp;
          <input type="checkbox" id="Status" [(ngModel)]="tutor.Science" value="tutor.English" (ngModelChange)="change($event, 'Science')"
            [ngModelOptions]="{standalone: true}" (change)="nextT2()" (checked)="tutor.Math">
          <label for="exampleInputPassword1"> &nbsp;Science</label> &nbsp;
          <input type="checkbox" id="Status" [(ngModel)]="tutor.Writing" value="tutor.English" (ngModelChange)="change($event, 'Writing')"
            [ngModelOptions]="{standalone: true}" (change)="nextT2()" (checked)="tutor.Math">
          <label for="exampleInputPassword1"> &nbsp;Writing</label>&nbsp;
          <input type="checkbox" id="Status" [(ngModel)]="tutor.Allsectionofact" value="tutor.Allsectionofact"
            (ngModelChange)="change($event, 'All_Section_Of_ACT')" [ngModelOptions]="{standalone: true}" (change)="nextT2()"
            (checked)="tutor.Math">
          <label for="exampleInputPassword1"> &nbsp;All sections of ACT</label>&nbsp;

        </div>
      </section>
    </div>
    <div *ngIf="next==9">
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">What is your level of English-language proficiency for each of the following?
          <span style="color:red">*</span>
        </div>
        <div class="col-md-12">
          <table class="table custom-table-1">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Very Proficient</th>
                <th scope="col">Moderately Proficient</th>
                <th scope="col">Somewhat Proficient</th>
                <th scope="col">Not at all Proficient</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Verbal Comprehension</th>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Verbal" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions1" id="inlineRadio1" value="1">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Verbal" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions1" id="inlineRadio12" value="2">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Verbal" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions1" id="inlineRadio13" value="3">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Verbal" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions1" id="inlineRadio14" value="4">
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Speaking</th>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Speaking" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions2" id="inlineRadio11" value="1">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Speaking" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions2" id="inlineRadio21" value="2">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Speaking" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions2" id="inlineRadio31" value="3">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Speaking" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions2" id="inlineRadio41" value="4">
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Reading</th>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Reading1" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions3" id="inlineRadio1" value="1">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Reading1" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions3" id="inlineRadio1" value="2">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Reading1" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions3" id="inlineRadio1" value="3">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Reading1" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions3" id="inlineRadio1" value="4">
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Writing</th>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Writing1" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions4" id="inlineRadio1" value="1">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Writing1" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions4" id="inlineRadio1" value="2">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Writing1" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions4" id="inlineRadio1" value="3">
                  </div>
                </td>
                <td>
                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="radio" [(ngModel)]="tutor.Writing1" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="nextT2()" name="inlineRadioOptions4" id="inlineRadio1" value="4">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

    </div>

    <div *ngIf="next==9">

      <section class="row form-wrp">

        <div class="col-md-12 form-hdr">What location are you registering for?
          <span style="color:red">*</span>
        </div>


        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputPassword1">Country</label>
            <select [(ngModel)]="counrty" class="form-control" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeCity()"
              class="form-control">
              <option value="sel" selected>Select Country</option>

              <option *ngFor='let car1 of _countrys.data' value="{{car1.id}}">{{ car1.countryName }}</option>
            </select>
            <br />
            <input type="text" class="form-control" *ngIf="counrty=='Other'" aria-describedby="name" (ngModelChange)="nextT2()"
              [(ngModel)]="tutor.loc1" [ngModelOptions]="{standalone: true}" placeholder="Others (if any)">
          </div>
        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputPassword1">City</label>

            <select [(ngModel)]="cityids" [ngModelOptions]="{standalone: true}" (ngModelChange)="nextT5()" class="form-control"
              [disabled]="this.counrty=='sel'" *ngIf="this.city1">
              <option value="sel">Select City</option>
              <option *ngFor='let ca of city1.data' value="{{ca.id}}">{{ ca.cityName }}</option>

            </select>
            <br />
          </div>
        </div>
        <div class="col-md-12 form-hdr">Please select the trainer:
          <span style="color:red">*</span>
        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputPassword1">Trainers </label>
            <select [(ngModel)]="Trainerss" (ngModelChange)="nextT6()" [ngModelOptions]="{standalone: true}" class="form-control"
              *ngIf="cityids=='sel'" [disabled]="this.cityids=='sel'">
              <option value="sel">Select trainer</option>

              <option value="0">N/A</option>
            </select>

            <select [(ngModel)]="Trainerss" (ngModelChange)="nextT6()" [ngModelOptions]="{standalone: true}" class="form-control"
              *ngIf="cityids!='sel'">


              <option *ngFor='let ca of this.trainer.data' value="{{ca.id}}">{{ ca.firstName }} {{ca.lastName}}</option>

              <option value="0">N/A</option>
            </select>
            <br />




          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <textarea class="form-control" rows="3" [(ngModel)]="addressgg" [ngModelOptions]="{standalone: true}"
              disabled placeholder="Trainer Address" *ngIf="Trainerss1"></textarea>
          </div>
        </div>
      </section>
    </div>


    <div *ngIf="next==9">
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">For future reference, what location would you be interested in? </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Country</label>
            <select [(ngModel)]="tutor.fcounrty" class="form-control" [ngModelOptions]="{standalone: true}"
              (ngModelChange)="changecity1()" class="form-control">
              <option value="sel" selected>Select Country</option>

              <option *ngFor='let car1 of _countrys1.data' value="{{car1.id}}">{{ car1.countryName }}</option> -->

            </select>
            <br />

          </div>
        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputPassword1">City</label>
            <select [(ngModel)]="tutor.cityidss" [ngModelOptions]="{standalone: true}" class="form-control" [disabled]="this.tutor.fcounrty=='sel'"
              *ngIf="this.tutor.fcounrty=='sel'">
              <option value="sel">Select City</option>

            </select>
            <select [(ngModel)]="tutor.cityidss" [ngModelOptions]="{standalone: true}" class="form-control" *ngIf="this.tutor.fcounrty!='sel'">
              <option value="sel">Select City</option>

              <option *ngFor='let ca of cityf1.data' value="{{ca.id}}">{{ ca.cityName }}</option>
            </select>
            <br />
          </div>
        </div>
      </section>
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">For future reference, what dates would you be interested in? </div>
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputPassword1">Start Date</label>
            <div class="input-wrp">
              <input type="text" placeholder="MM-DD-YYYY" [(ngModel)]="tutor.Start" [ngModelOptions]="{standalone: true}"
                class="form-control" placement="top" #dp11="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }" (ngModelChange)="chkdate()">
              <span class="icon icon-calendar4" (click)="dp11.toggle()"></span>

            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputPassword1">End Date</label>
            <div class="input-wrp">
              <input type="text" class="form-control" placeholder="MM-DD-YYYY" [(ngModel)]="tutor.End" [ngModelOptions]="{standalone: true}"
                class="form-control" placement="top" #dp1="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }" (ngModelChange)="chkdate()">
              <span class="icon icon-calendar4" (click)="dp1.toggle()"></span>

            </div>
          </div>
        </div>
      </section>
    </div>
    <div *ngIf="next==10">
      <section class="row form-wrp">
        <div class="col-md-12 form-hdr">Attestations for Tutor Applicants: &nbsp;
          <span style="color:red">*</span>
        </div>
        <div class="col-md-12 check_list">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="tutor.tutorapp1" (checked)="tutor.tutorapp1"
              [(ngModel)]="tutor.tutorapp1" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '1')"
              id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">I certify that all of the information provided as part
              of my registration is current and accurate.</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck2" value="tutor.tutorapp2" (checked)="tutor.tutorapp2"
              [(ngModel)]="tutor.tutorapp2" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '2')">
            <label class="form-check-label" for="defaultCheck2">I have not and will not help examinees achieve scores
              by fraudulent means, including distribution of secure test
              content, creation or distribution of answer keys and/or any other activity aimed at altering or otherwise
              obtaining
              an ACT score that does not reflect any examinee’s independent efforts and ability.</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck3" [(ngModel)]="tutor.tutorapp3" value="tutor.tutorapp3"
              (checked)="tutor.tutorapp3" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '3')">
            <label class="form-check-label" for="defaultCheck3">I have not and will not appropriate ACT content for the
              purpose of preparing students to take the ACT.</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck4" [(ngModel)]="tutor.tutorapp4" value="tutor.tutorapp4"
              (checked)="tutor.tutorapp4" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '4')">
            <label class="form-check-label" for="defaultCheck4">I have not and will not copy, reproduce, re-engineer or
              otherwise replicate any ACT content from this exam.</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck5" [(ngModel)]="tutor.tutorapp5" value="tutor.tutorapp5"
              (checked)="tutor.tutorapp5" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '5')">
            <label class="form-check-label" for="defaultCheck5">I have not and will not create, forge, copy, reproduce,
              re-engineer, modify or otherwise replicate any certification
              that purports to be a certification earned through this exam.</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck6" [(ngModel)]="tutor.tutorapp6" value="tutor.tutorapp6"
              (checked)="tutor.tutorapp6" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '6')">
            <label class="form-check-label" for="defaultCheck6">I certify that I am the individual whose name presents
              as part of the registration of this exam and will be represented
              on the certification from this exam. </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck7" [(ngModel)]="tutor.tutorapp7" value="tutor.tutorapp7"
              (checked)="tutor.tutorapp7" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '7')">
            <label class="form-check-label" for="defaultCheck7">I will immediately report to ACT any and all test
              security-related concerns of which I am aware of. This may
              be done anonymously through ACT’s Test Security Hotline, available at:
              <a href="http://www.act.ethicspoint.com" target="_blank">www.act.ethicspoint.com</a>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="tutor.tutorapp8" (checked)="tutor.tutorapp8" id="defaultCheck8"
              [(ngModel)]="tutor.tutorapp8" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '8')">
            <label class="form-check-label" for="defaultCheck8">I will fully cooperate with any test security
              investigation.</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck9" value="tutor.tutorapp9" (checked)="tutor.tutorapp9"
              [(ngModel)]="tutor.tutorapp9" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '9')">
            <label class="form-check-label" for="defaultCheck9">I will not take the ACT without prior approval by ACT.</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck10" value="tutor.tutorapp10" (checked)="tutor.tutorapp10"
              [(ngModel)]="tutor.tutorapp10" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '10')">
            <label class="form-check-label" for="defaultCheck10">I will not assist with the publication, distribution
              or administration of any ACT-owned exam. I will not act
              as test staff or otherwise proctor any ACT-owned exam.</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck11" value="tutor.tutorapp11" (checked)="tutor.tutorapp11"
              [(ngModel)]="tutor.tutorapp11" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '11')">
            <label class="form-check-label" for="defaultCheck10">
              <a href="../assets/termsp/ACT Tutor Certification Agreement 201804231028.pdf" target="_blank">I agree to
                the ACT's Terms and Conditions.</a>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck12" value="tutor.tutorapp12" (checked)="tutor.tutorapp10"
              [(ngModel)]="tutor.tutorapp122" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '12')">
            <label class="form-check-label" for="defaultCheck10">I agree to the ACT's Ethics and Integrity Statement.</label>
          </div>
        </div>
        <div class="col-md-12 info_box">
          <i> One important way we protect the security of the ACT is by soliciting information from stakeholders about
            test
            security concerns.&nbsp; These stakeholders help us maintain the fairness of the ACT for all examinees who
            take
            the test, as well as the teachers, parents, counselors and tutors who support them in their academic
            endeavors.&nbsp;
            Do you have any test security concerns you would like to report now?&nbsp; If so, please report them here:
            <a href="http://www.act.ethicspoint.com" target="_blank">www.act.ethicspoint.com</a>
          </i>
        </div>
        <p class="info-p">You have reached the end of the application form. Please click the "Submit Application"
          button when ready.</p>
      </section>
    </div>
    <!-- SOF button row   button-wrp-->
    <section class="row">
      <div class="col-md-12 button-row">
        <button type="button" class="btn btn-primary float-right" *ngIf="next==10" [disabled]="selectedValue1.length<12"
          (click)="openModal(template1,tutor)">Submit Application</button>


        <button type="button" class="btn btn-primary float-right" *ngIf="next!=10" [disabled]="this.bts" (click)="nextT()">Next</button>
        <button type="button" class="btn btn-primary float-right" *ngIf="next>1" (click)="backt()">Back</button>
        <button type="button" class="btn btn-secondary float-right" (click)="reset()">Cancel</button>

      </div>
    </section>
    <!-- EOF button row -->
  </form>
</section>