.nav-link:hover{
    background: #016089;
}

.nav-link:active{
    background: #016089;
}
.nav-link:visited{
    background:  #016089;
}
/* a.nav-link:{
    background-color: rgb(66, 133, 66) !important;
} */
.navbar-light .navbar-nav .nav-item.active {
    background: #016089;
}

a:active{
    background:  #016089;
}
 @media screen and (max-width: 2000px) and (min-width: 1500px) {
.l1{
    width: 300px;
}
}
@media screen and (max-width: 1036px) and (min-width:910px){
    .l1{
        width:auto;
        height:75px;
    }
    }
    
@media only screen and (max-width: 767px) {
        table, thead, tbody, th, td, tr {
            display: block;
        }
    }