<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Reset Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
        *ngIf="alert.msg">{{ alert.msg }}</alert>
    </div>
    <div class="padding0">
      <div class="container login-cntr-wrp">
        <div class="login-cntr">
          <div class="login-section">
            <h1 class="logo" id="alnkLogo"><img class="logo1" src="../assets/images/ACT_Certified.png" alt="logo"></h1>
            <div class="login-form">

              <div class="login-section">

                <div class="form-group"> <i style="color:red;float: right;">*</i>
                  <input type="text" name="password" class="form-control" [(ngModel)]="username1" #email1="ngModel"
                    placeholder="Enter Email ID" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-zA-Z]{2,3}$" id="password"
                    required>

                  <div *ngIf="email1.errors?.pattern && email1.touched">
                    The email id doesn't seem right
                  </div>
                </div>
              </div>
              <br />
              <br />
              <div class="float-right">
                <button type="button" class="btn btn-primary" [disabled]="!username1" (click)="resetpass(username1,pass1,pass2)">Update</button>
                <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>
<section class="login_bg">
  <div class="container login-cntr-wrp">
    <div class="login-cntr">
      <div class="login-section">
        <h1 class="logo" id="alnkLogo"><img class="logo1" src="../assets/images/ACT_Certified.png" alt="logo"></h1>
        <div class="login-form">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
              *ngIf="alert.msg">{{ alert.msg }}</alert>
          </div>
          <div class="login-section">

            <form name="contactForm" (submit)="loginuser(username,pass)">
              <div class="form-group"> <i style="color:red;float: right;">*</i>

                <input type="email" name="email1" class="form-control" [(ngModel)]="username" placeholder="Email ID" id="email1"
                  #email1="ngModel" [email]="true">
              </div>
              <div class="form-group"> <i style="color:red;float: right;">*</i>
                <input type="password" name="password" class="form-control" [(ngModel)]="pass" placeholder="Password"
                  id="password">
              </div>
              <div class="form-group login-button"> <a style="color:red;float:left;cursor: pointer;" (click)="forgetpass(template1)">Forgot
                  password ?</a> <br />
                <br />

                <button type="submit" class="">Login</button>
                <br />
                <button routerLink="/newUser" class="">Signup</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>