@charset "utf-8";
/* CSS Document */

@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
	 font-family: "IcoMoon-Ultimate";
	 src: url("../node_modules/ngx-bootstrap/icomoon-files/IcoMoon-Ultimate.ttf");
	 }
html, body {
	height: 100%;
}
.login_bg
{
	height: calc(100% - 36px);
	background: url(assets/images/loginbg1.jpg);
	background-size: cover;
}

body {
	background: '#f7f7f7s';
	font-family: 'Montserrat', sans-serif;
	color: #373942;
}
.logo1{
	width: 250px;
}
a {
	color: #0077AA;
}
.content-area {
	background: #fff;
}
.padding0 {
	padding: 0px;
}
.float-middle {
	overflow: hidden;
}
header {
	min-height: 65px;
	Width: auto;
	background: #042E60;
	color: #fff;
	padding: 0px 17px;
	padding-left: 0px;
}
.hDrop {
	float: right;
	margin-right: -17px;
}
.hDrop .btn {
	border: 0;
	background: #016089;
	line-height: 1.7em;
	color: #fff;
	font-size: .875em;
	padding: 20px 25px;
	border-radius: 0;
	text-decoration:none;
}
.hDrop .btn:focus, .hDrop .btn:active, .hDrop.show .btn {
	background: #016089;
	color:#fff;
}
.c-button:focus {
	color: #333;
	background: #f6f6f6;
}
.hDrop .dropdown-menu {
	right: 0;
	left: auto;
	font-size: .875em;
	top: 115%;
	border: #ccc 2px solid;
	border-radius: 1px;
	padding: .25em;
}
.hDrop .dropdown-menu:before {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	content: "";
	position: absolute;
	right: 30px;
	top: -10px;
	z-index: 2;
}
.hDrop .dropdown-menu:after {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ccc;
	content: "";
	position: absolute;
	right: 28px;
	top: -12px;
	z-index: 1;
}
.hDrop .dropdown-toggle[aria-expanded=false]::after {
	transform: rotate(0deg);
	transition: transform .2s ease;
}
.hDrop .dropdown-toggle[aria-expanded=true]::after {
	transform: rotate(180deg);
	transition: transform .2s ease;
}
.hDrop .dropdown-toggle::after {
	vertical-align: 0.155em;
	border-top: .4em solid;
	border-right: .4em solid transparent;
	border-left: .4em solid transparent;
}
.hDrop .dropdown-item
{
	text-decoration:none;
}
.navbar {
	padding: 0px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
	color: #fff;
	font-size: .875em;
	padding: 22px 17px;
	text-decoration:none;
}
.navbar-light .navbar-nav .nav-item .nav-link:focus
{
	border:0;
}
.navbar-light .navbar-nav .nav-item {
	border-right: solid 1px #016089;
}
.navbar-light .navbar-nav .nav-item:first-child {
	border-left: solid 1px #016089;
}
.navbar-light .navbar-nav .nav-item.active {
	background: #016089;
}
.navbar-light .navbar-brand {
	color: #fff;
	padding: 0px 20px 0px 0px;
	margin-right: 0px;
}
.profile-icon .fa {
	font-size: 30px;
	padding: 18px 0px
}
.navbar-light .navbar-toggler {
	color: #fff;
	border: none;
}
.product-bar {
	width: 100%;
	background: #fff;
	border-bottom: solid 1px #e2e2e2;
	color: #373942;
	font-weight: 600;
	padding: 10px 17px;
	font-size: 20px;
}
.btn-primary {
	background: #0077AA;
	padding: 0 1.5625rem;
	border: 1px solid #0077AA;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
	border-radius: 0px;
	height:2.5rem;
	margin:.3125rem;
}
.btn-primary:hover {
	background: rgba(1,96,137,1);
	border: 1px solid #016089;
}
.btn-primary:focus, .btn-primary:active {
	background: rgba(4, 46, 96, 1) !important;
	border: 1px solid #042E60;
}
.btn-secondary {
	background: rgba(255, 255, 255, 1);
	padding: 0 1.5625rem;
	border: 1px solid #0077AA;
	font-size: .875rem;
	color: #0077AA;
	cursor: pointer;
	border-radius: 0px;
	height:2.5rem;
	margin:.3125rem;
}
.btn-secondary:hover {
	background: rgba(1, 96, 137, .08);
	border: 1px solid #016089;
	color: #016089;
}
.btn-secondary:focus, .btn-secondary:active {
	background: rgba(4,46,96, .08) !important;
	border: 1px solid #042E60;
	color: #042E60 !important;
}
.btn-default {
	background: rgba(255, 255, 255, 0);
	padding: 15px 25px;
	border: 1px solid #0077AA;
	font-size: 14px;
	color: #0077AA;
	border-radius: 0px;
}
.btn-default:hover {
	background: #016089;
	padding: 15px 25px;
	border: 1px solid #016089;
	font-size: 14px;
	color: #016089;
	border-radius: 0px;
}
.btn-default:focus {
	background: #042E60;
	border: 1px solid #042E60;
}
.login-section {
	max-width: 380px;
	margin: 0 auto;
	text-align: center;
}
.login-section .login-form {
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 12px;
	border: solid 1px #e9e9e9;
	background-color: #f8f8f8;
}
.login-section {
	max-width: 380px;
	margin: 0 auto;
	text-align: center;
}
.login-section .form-group {
	position: relative;
	margin-bottom: 15px;
}
.login-button button {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 46px;
	border-radius: 3px;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: 500;
	background-color: #0088ff;
	border: solid 1px #0088ff;
	color: #fff;
	text-transform: uppercase;
}
.content-area {
	padding: 20px 15px;
	min-height: 550px;
	background: #fff;
	min-height: calc(100% - 172px);
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	border: 1px solid #ccc;
}
table>thead>tr>td, table>thead>tr>th {
	border-bottom: 2px solid #ccc;
	background: #FFFFFF;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #F2F2F2);
	background-image: -moz-linear-gradient(top, #FFFFFF, #F2F2F2);
	background-image: -ms-linear-gradient(top, #FFFFFF, #F2F2F2);
	background-image: -o-linear-gradient(top, #FFFFFF, #F2F2F2);
	background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
	font-weight: 400;
}
.action-icon .fa {
	font-size: 24px;
	color: #373942;
	margin-right: 10px;
}
.custom-control {
	margin-bottom: 0px;
}
.custom-control-indicator {
	border: 1px solid #999999;
	background: #fff;
	border-radius: 0px !important;
}
.custom-control-input:checked~.custom-control-indicator {
	border: 1px solid #042E60;
	Color : #042E60;
	background: #042E60;
}
table>thead>tr>td, .table>thead>tr>th {
	border: 1px solid #ccc;
}
table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
	padding: 20px 14px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ccc;
	vertical-align: middle;
}
footer {
	background: #f7f7f7;
	border-top: 1px solid #d6d6d6;
	padding: 10px 17px;
	font-size: 10px;
}
.table-search {
	padding: 5px;
	background: #FFFFFF;
}
.dropdown .btn-primary
{
	border: #999 1px solid !important;
	color: #0077AA;
	font-size: 1.125em;
}
.dropdown .btn-primary.dropdown-toggle::after
{
	border-top-color: #0077AA;
}
.dropdown .btn-primary:hover
{
	border-color: #0077AA !important;
}
.dropdown .dropdown-menu
{
	border:#ccc 1px solid;
}
.dropdown .dropdown-item:focus, .dropdown .dropdown-item:hover, .dropdown .dropdown-item:active
{
	background: rgba(1, 96, 137, .08);
	color:#0077AA;
	border:0;
}
.dropdown.medium .btn-primary
{
	font-size: 1em;
	padding: 9px 20px;
}
.btn.btn-primary.dropdown-toggle {
	background: none;
	border: 0px;
	color: #373942
}
.spacing {
	margin: 0px 10px;
}
.mobile {
	display: none;
}
.desktop {
	display: block;
}
.product-name {
	background-color: #274e7b;
}
.product-text {
	padding: 10px 0px
}
.form-control {
	border: 1px solid #999999;
	border-radius: 0px;
}
.form-control:hover {
	border: 1px solid #0077AA;
}
.form-control:active, .form-control:focus  {
	border: 1px solid #0077AA;
	box-shadow: 0 0 0 1px #0077AA;
}
input.form-control {
	height: 2.5rem;
}
select.form-control {
	height: 2.5rem !important;
}
.col-form-label {
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: 600
}

/*=====================*/
/*---- SOF new css ----*/
/*=====================*/
a
{
	color: #0077AA;
	font-size: 1rem;
	text-decoration: underline;
}
a:hover
{
	color: #016089;
}
a:active
{
	color: #042E60;
}
a:focus
{
	border: #0077AA 2px solid;
}
.intro-txt-blk
{
	padding: 1rem 0;
}

/*---- SOF step indicator ----*/
.step-indicator-wrp
{
	padding: 1rem 0;
	text-align: center;
}
.step-indicator
{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
/* .step-indicator
{
	list-style: none;
	display:flex;
	padding: 0;
	margin: 0;
} */
.step-indicator li
{
	float: left;
	display: block;
	position: relative;
}
.step-indicator li span
{
	float: left;
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: #fff;
	border:#e9e9e9 6px solid;
	text-align: center;
	vertical-align: middle;
	line-height: 2.7;
	margin: 0 1rem;
	position: relative;
	z-index: 5
}
.step-indicator li span a
{	
	background: rgba(0, 136, 255, 0.1);
    width: 43px;
    height: 43px;
    float: left;
    border-radius: 50%;
	text-decoration:none;
}
.step-indicator li:before
{
	width: 50%;
	height: 6px;
	background: #e9e9e9;
	content: "";
	position: absolute;
	left: -50%;
	top: 50%;
	margin-top: -3px;
	z-index: 1;
}
.step-indicator li:after
{
	width: 50%;
	height: 6px;
	background: #e9e9e9;
	content: "";
	position: absolute;
	right: -50%;
	top: 50%;
	margin-top: -3px;
	z-index: 1;
}
.step-indicator li:first-child::before
{
	display: none;
}
.step-indicator li:last-child::after
{
	display: none;
}
.step-indicator li span.active
{
	background: #0088ff;
	border-color: #0088ff;
	color: #fff;
}
/*---- EOF step indicator ----*/
.form-wrp
{
	margin: 1rem 0;
}
.form_row
{
	display:flex;
	width:100%;
}
.form-hdr
{
	background: #ececec;
	padding: 1rem;
	margin: 1rem 0;
}
.input-wrp
{
	position: relative;
}
.input-wrp .icon
{
	position: absolute;
	right: .875rem;
	top: .5rem;
	font-size: 1.25rem;
}
.add-edit-wrp
{
	padding-right: 7rem;
	position: relative;
}
.add-edit-wrp .btn
{
	background: #fff;
	border: #fff 1px solid;
	border-radius: 0;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	font-size: 1.25rem;
	padding:0;
}
.form-group-btnwrp
{
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -1.25rem;
	width: 5.3125rem;
}
.btn-add
{
	color: #08af24;
	float: left;
}
.btn-delete
{
	color: #ee8888;
	float: right;
}
.button-wrp
{
	margin-right:-0.3125rem;
	margin-left:-0.3125rem;
	border-top: 1px solid #d6d6d6;
    padding-top: 1rem;
}
.button-row
{
	padding:0 10px;
}
.check_list .form-check
{
	margin-top:1rem;
	margin-bottom:1rem;
}
.info_box
{
	border:#e9e9e9 1px solid;
	background:#f8f8f8;
	padding:1.5rem;
}
.info-p
{
	padding:1.5rem;
}

/*---- SOF custom table 1 ----*/
.custom-table-1
{
	border:#e9e9e9 1px solid;
}
.custom-table-1>thead>tr>th
{
	border:0;
	border-bottom:#e9e9e9 1px solid;
	background:#f8f8f8;
	text-align:center;
}
.custom-table-1 tbody th, .custom-table-1 tbody td
{
	border:0;
	font-weight:normal;
}
.custom-table-1 tbody td
{
	text-align:center;
}
/*---- EOF custom table 1 ----*/

/*---- SOF for login ----*/
.login-cntr-wrp
{
	width:100%;
	height:100%;
	display:table;
}
.login-cntr
{
	display:table-cell;
	height:100%;
	vertical-align:middle;
}
/*---- EOF for login ----*/
/*=====================*/
/*---- EOF new css ----*/
/*=====================*/



/*============================*/
/*---- SOF responsive css ----*/
/*============================*/

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 992px) {
header {
	padding: 0px;
}
.profile-icon {
	padding-right: 17px;
}
.navbar-light .navbar-toggler-icon {
	background-image: none;
}
.navbar-light .navbar-toggler {
	position: absolute;
	left: 0;
	top: 0;
	background: #274e7b;
	border-radius: 0px;
	padding: 12px 15px 13px;
}
.navbar-light .navbar-brand {
	border-right: 0px;
	margin-left: 75px;
	padding: 0;
}
.navbar-light .navbar-nav .nav-item {
	border-right: 0;
	width: 100%;
	border-bottom: solid 1px #183960;
	padding: 0px 10px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
	padding: 10px 0px;
	width: 100%;
}
.menutxt {
	font-size: 12px;
}
.hDrop {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}
.hDrop .btn {
	padding: 20px 10px;
}
.mobile {
	display: block;
}
.desktop {
	display: none;
}
.step-indicator li span{width:50px; height: 50px; line-height: 2.2; margin: 0 .5rem;}
}

@media only screen and (max-width: 767px) {
	.step-indicator-wrp{padding: 0;}
	.step-indicator li span{width:40px; height: 40px; line-height: 2.2; margin: 0 .25rem;}
footer .float-right {
	float: left !important;
}
/* Force table to not be like tables anymore */
/* table, thead, tbody, th, td, tr {
	display: block;
} */

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
tr {
	border: 0px solid #ddd;
	margin-bottom: 20px;
}
td {
	/* Behave  like a "row" */
	border: 0;
	position: relative;
	white-space: normal;
	text-align: left;
	color: #000
}
td:before {
	text-align: left;
	font-weight: bold;
	display: block;
	background: #FFFFFF;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #F2F2F2);
	background-image: -moz-linear-gradient(top, #FFFFFF, #F2F2F2);
	background-image: -ms-linear-gradient(top, #FFFFFF, #F2F2F2);
	background-image: -o-linear-gradient(top, #FFFFFF, #F2F2F2);
	background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
	margin: -8px -8px 8px;
	padding: 10px 8px;
	border-bottom: 1px solid #ddd;
}
/*
		Label the data
		*/
td:before {
	content: attr(data-title);
}
table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
	padding: 10px 8px 10px 8px;
}
.mobile-checkbox {
	display: block;
}
}
@media only screen and (max-width: 575px) {
	.step-indicator li span{width:20px; height: 20px; line-height: 2.2; margin: 0 .25rem; border: #e9e9e9 4px solid;}
}



/*============================*/
/*---- EOF responsive css ----*/
/*============================*/


/*============================*/
/*----SOF Tutor Data Model----*/
/*============================*/
  .tutor_data_model{
	  width:90%;
	  max-width:1100px;
  }
/*============================*/
/*----EOF Tutor Data Model----*/
/*============================*/


