<header>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand float-left" style="background: white;"><img src="../assets/images/ACT_Certified.png" class="img-fluid"
          style="height:65px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i><br>
        <span class="menutxt">Menu</span> </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" href="#/tutorwel" routerLinkActive="active" style="cursor: pointer;"
              (click)="showall()">Profile</a> </li>

        </ul>
      </div>
      <div class="dropdown hDrop">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="userHeader" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="!username"> Hi John </a>
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="userHeader" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="username"> {{username}} </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userHeader"> <a class="dropdown-item" (click)="signout()"
            href="#">Sign Out</a> </div>
      </div>
    </nav>
  </div>
  <div class="clearfix"></div>
</header>

<section class="content-area">

  <form>
    <!-- SOF intro text block -->
    <div class="intro-txt-blk" *ngIf="this.detail1==false">

      <label>Hi! Welcome to the Tutor Landing page. This is the page to check for Tutor Registration Status and
        important announcements. Please login and visit this page frequently to learn about your registration status
        and exciting new features being added to the site!<br /><br />
        Thanks,
        <br />ACT's Tutor Portal Team
      </label>

    </div>
    <!-- EOF intro text block -->

    <!-- SOF form row -->
    <section class="row form-wrp" *ngIf="this.detail1==false">

      <div class="col-md-4">
        <div class="form-group">
          <label>Location: <b>{{tutordata.data[0].registeringLocation}}</b></label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">

        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Status: <b>{{tutordata.data[0].status}}</b></label>
          <span *ngIf="tutordata.data[0].status!='APPROVED'">
            <p>You will get an email notification as soon as you get approved.</p>
          </span>
          <span *ngIf="tutordata.data[0].status =='APPROVED'">
            <p>If you did not receive email notification confirming your approval, please check your spam folder.</p>
          </span>
        </div>
      </div>

      <div class="col-md-2"></div>
      <div class="col-md-12 form-hdr">Basic Profile Information</div>
      <div class="col-md-6">
        <div class="form-group">

          <label>Full Name: <b>{{tutordata.data[0].fullName}}</b></label>
        </div>
        <div class="form-group">
          <label>Date of Birth: <b>{{tutordata.data[0].dob | date: 'dd/MM/yyyy'}}</b></label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Residing Address: </label>
          <b>{{tutordata.data[0].residingAddress}}</b> </div>
      </div>
      <br />
      <p>For more information, visit <a href="https://www.act.org/content/act/en/products-and-services/act-certified-educator.html "
          target="_blank">https://www.act.org/content/act/en/products-and-services/act-certified-educator.html</a></p>
      <br />
    </section>
    <!-- EOF form row -->
    <!-- SOF form row -->
    <section class="row form-wrp" *ngIf="this.detail1==true">

      <div class="col-md-12">
        <div class="form-group">

          <div *ngFor="let alert of alerts" style="position: fixed;width:100%;z-index:2">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
              *ngIf="alert.msg">{{ alert.msg }}</alert>
          </div>

          <ng-template #template1>
            <div class="modal-header">

              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngFor="let alert of alerts1">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)"
                  *ngIf="alert.msg">{{ alert.msg }}</alert>
              </div>
              <div class="padding0">
                <section class="content-area">
                  <div class="row">
                    <div class="col-md-12">

                      <h4>Are you sure you want to submit?</h4>
                      <p>You won't be able to change the responses after you click Submit</p>
                      <div class="float-center"><button type="button" class="btn btn-primary" (click)="addn2(f1)">Submit</button>
                        <button (click)="modalRef.hide()" class="btn btn-primary">Cancel</button> </div>
                    </div>

                  </div>

                  <div class="clearfix"></div>
                </section>

              </div>
            </div>
          </ng-template>

          <section>
            <button type="button" class="btn btn-primary float-right" (click)="hideall()">Go to Welcome Page </button>
            <br />

            <div class="clearfix"></div>
          </section>
          <section class="content-area">

            <form [formGroup]="invoiceForm" class="col-md-12" novalidate>
              <!-- SOF intro text block -->

              <!-- EOF step indicator -->
              <!-- SOF form row -->
              <div class="step-indicator-wrp">
                <ul class="step-indicator">
                  <li>
                    <span class="active" *ngIf="next==1" (click)="goto(1)"></span>
                    <span *ngIf="next!=1" (click)="goto(1)"></span>
                  </li>
                  <li>
                    <span class="active" *ngIf="next==2" (click)="goto(2)"></span>
                    <span *ngIf="next!=2" (click)="goto(2)"></span>
                  </li>
                  <li>
                    <span class="active" *ngIf="next==3" (click)="goto(3)"></span>
                    <span *ngIf="next!=3" (click)="goto(3)"></span>
                  </li>
                  <li>
                    <span class="active" *ngIf="next==4" (click)="goto(4)"> </span>
                    <span *ngIf="next!=4" (click)="goto(4)"></span>
                  </li>
                  <li>
                    <span class="active" *ngIf="next==5" (click)="goto(5)"> </span>
                    <span *ngIf="next!=5" (click)="goto(5)"></span>
                  </li>
                  <li>
                    <span class="active" *ngIf="next==6" (click)="goto(6)"> </span>
                    <span *ngIf="next!=6" (click)="goto(6)"></span>
                  </li>
                  <li>
                    <span class="active" *ngIf="next==7" (click)="goto(7)"></span>
                    <span *ngIf="next!=7" (click)="goto(7)"></span>
                  </li>
                  <li>
                    <span class="active" *ngIf="next==8" (click)="goto(8)"></span>
                    <span *ngIf="next!=8" (click)="goto(8)"></span>
                  </li>
                  <li>
                    <span class="active" *ngIf="next==9" (click)="goto(9)"></span>
                    <span *ngIf="next!=9" (click)="goto(9)"></span>
                  </li>
                  <li>
                    <span class="active" *ngIf="next==10" (click)="goto(10)"> </span>
                    <span *ngIf="next!=10" (click)="goto(10)"></span>
                  </li>

                </ul>
              </div>
              <div *ngIf="next==1">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">Applicant Information</div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Full Name </label><span style="color:red"> *</span>
                      <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.Firstname"
                        #name1="ngModel" [ngModelOptions]="{standalone: true}" disabled placeholder="Enter First name"
                        required>

                    </div>

                    <div class="form-group">
                      <label for="exampleInputPassword1">Date of Birth </label> <span style="color:red"> *</span>
                      <div class="input-wrp">
                        <input type="text" [(ngModel)]="tutor.dob" [ngModelOptions]="{standalone: true}" #dob="ngModel"
                          class="form-control" disabled placeholder="MM-DD-YYYY" class="form-control" required>
                        <span class="icon icon-calendar4"></span>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Residing Address </label><span style="color:red"> *</span>
                      <textarea class="form-control" rows="4" [(ngModel)]="tutor.Residing" (keyup)="nextT2()"
                        [ngModelOptions]="{standalone: true}" #address="ngModel" placeholder="Current Address" style="height:129px;"
                        disabled required></textarea>


                    </div>
                    <div class="form-group">
                      <label>Registered Email Address </label>
                      <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.remail"
                        [ngModelOptions]="{standalone: true}" disabled>

                    </div>
                  </div>
                </section>
                <!-- EOF form row -->
                <!-- SOF form row -->
                <section class="row form-wrp">

                  <div class="col-md-12 form-hdr">Please list previous addresses (if any) for the last five years:</div>
                  <div class="col-md-12">
                    <div class="form-group" *ngFor="let tutora of this.tutor.tutorTPA1; let i=index">
                      <label>Previous Address {{i + 1}}</label>
                      <div class="add-edit-wrp">

                        <textarea class="form-control" rows="3" disabled value="{{tutora.address}}" placeholder="Previous Address"></textarea>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="this.tutor.tutorTPA1.length==0">No data exists!</div>
                  <br />

                </section>
                <!-- EOF form row -->
                <!-- SOF form row -->
                <section>

                  <div class="col-md-12 form-hdr">Please provide the email addresses you use or have used in the past
                    five years:</div>
                  <div class="row form-wrp" *ngFor="let tutora of this.tutor.tutorTEA1; let i=index">
                    <div class="col-md-6">
                      <div class="form-group">

                        <label>Email Address {{i + 1}} </label>

                        <input type="text" class="form-control" aria-describedby="name" value="{{tutora.email}}"
                          placeholder="Enter email adress" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-zA-Z]{2,3}$"
                          disabled>


                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Type of Address</label>
                        <div class="add-edit-wrp">
                          <select class="form-control" value="{{tutora.typeOfAddress}}" disabled>
                            <option value="1">Select from the list</option>
                            <option value="Personal">Personal</option>
                            <option value="Business">Business</option>

                          </select>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="this.tutor.tutorTEA1.length==0">No data exists!</div>
                  <br />
                </section>
                <!-- EOF form row -->
                <!-- SOF form row formArrayName="tutorTPN"-->
                <section>
                  <div class="col-md-12 form-hdr">Please provide phone numbers you use or have used in the past five
                    years:</div>
                  <div class="row form-wrp" *ngFor="let tutora of this.tutor.tutorTPN1; let i=index">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Phone Number {{i + 1}}</label>

                        <input type="text" class="form-control" aria-describedby="name" value="{{tutora.phoneNumber}}"
                          placeholder="Enter phone number" disabled>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Type of Phone Number</label>
                        <div class="add-edit-wrp">
                          <select class="form-control" value="{{tutora.typeOfNumber}}" disabled>
                            <option value="1">Select from the list</option>
                            <option value="2">Personal</option>
                            <option value="3">Home</option>
                            <option value="4">office</option>
                          </select>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="this.tutor.tutorTPN1.length==0">No data exists!</div>
                  <br />
                </section>
                <!-- EOF form row -->
              </div>
              <!-- SOF form row -->
              <div class="col-md-12" *ngIf="next==2">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">Have you personally participated in one or more test preparation
                    programs as a student? <span style="color:red">*</span></div>
                  <div class="col-md-6">
                    <div class="form-check form-check-inline mr-5">

                      <input class="form-check-input" type="radio" name="inlineRadioOptions1" [(ngModel)]="tutor.ff"
                        [ngModelOptions]="{standalone: true}" id="inlineRadio1" disabled value="true">
                      <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1"
                        [(ngModel)]="tutor.ff" [ngModelOptions]="{standalone: true}" disabled value="false">
                      <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                  </div>

                </section>
                <!-- EOF form row -->
                <!-- SOF form row -->
                <section formArrayName="tutorTPAS">
                  <div class="col-md-12 form-hdr">For each program in which you participated, please provide name,
                    date, and duration:</div>

                  <div class="row form-wrp" *ngFor="let tutora of this.tutor.tutorTPAS1; let i=index" [formGroupName]="i">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" namearia-describedby="name" disabled value="{{tutora.name}}"
                          placeholder="Name">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Date</label>
                        <div class="input-wrp">
                          <input type="text" class="form-control" value="{{tutora.date | date: 'MM/dd/yyyy' }}"
                            disabled placeholder="MM-DD-YYYY" placement="top">
                          <span class="icon icon-calendar4"></span> </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label>Duration</label>
                        <div class="add-edit-wrp">
                          <input type="text" class="form-control" id="dur" value="{{tutora.duration}}" disabled
                            aria-describedby="duration" placeholder="Duration">

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12" *ngIf="this.tutor.tutorTPAS1.length==0">No data exists!</div>

                  <br />

                </section>
              </div>
              <!-- EOF form row -->
              <!-- SOF form row -->
              <div class="col-md-12" *ngIf="next==3">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">Have you ever taken the ACT? <span style="color:red">*</span></div>
                  <div class="col-md-6">
                    <div class="form-check form-check-inline mr-5">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="tutor.ff1"
                        [ngModelOptions]="{standalone: true}" id="inlineRadio1" disabled value="true">
                      <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="tutor.ff1"
                        [ngModelOptions]="{standalone: true}" id="inlineRadio1" disabled value="false">
                      <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                  </div>
                </section>
                <!-- EOF form row -->
                <!-- SOF form row -->
                <section formArrayName="tutorTTA">
                  <div class="col-md-12 form-hdr">For each test, please provide the Date, Location as well as an
                    Account Number (if available): </div>

                  <div class="row form-wrp" *ngFor="let tutora of this.tutor.tutorTTA; let i=index" [formGroupName]="i">

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Date</label>
                        <div class="input-wrp">
                          <input type="text" formControlName="date" class="form-control" value="{{tutora.date | date: 'MM/dd/yyyy' }}"
                            placeholder="MM-DD-YYYY" disabled placement="top">
                          <span class="icon icon-calendar4"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" namearia-describedby="name" value="{{tutora.location}}"
                          formControlName="location" disabled placeholder="Location">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label>Account Number</label>
                        <div class="add-edit-wrp">
                          <input type="text" class="form-control" aria-describedby="duration" formControlName="accountNumber"
                            value="{{tutora.accountNumber}}" disabled placeholder="Account Number">

                        </div>
                      </div>

                    </div>

                  </div>
                  <div class="col-md-12" *ngIf="this.tutor.tutorTTA.length==0">No data exists!</div>
                  <br />

                </section>
              </div>

              <!-- SOF form row -->
              <div class="col-md-12" *ngIf="next==4">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">Have you ever participted in the administration of an ACT exam (e.g.
                    as a proctor/invigilator)? <span style="color:red">*</span></div>
                  <div class="col-md-6">
                    <div class="form-check form-check-inline mr-5">
                      <input class="form-check-input" type="radio" name="inlineRadioOption6" [(ngModel)]="tutor.f11"
                        [ngModelOptions]="{standalone: true}" id="inlineRadio2" disabled value="true">
                      <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOption6" id="inlineRadio2"
                        [(ngModel)]="tutor.f11" [ngModelOptions]="{standalone: true}" disabled value="false">
                      <label class="form-check-label">No</label>
                    </div>
                  </div>
                </section>
                <!-- EOF form row -->
                <!-- SOF form row -->
                <section formArrayName="tutorTAE">
                  <div class="col-md-12 form-hdr">For each test, please provide date and location.</div>

                  <div class="row form-wrp" *ngFor="let tutora of this.tutor.tutorTAE; let i=index" [formGroupName]="i">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Date</label>
                        <div class="input-wrp">
                          <input type="text" formControlName="date" class="form-control" placeholder="MM-DD-YYYY"
                            placement="top" disabled value="{{tutora.date | date: 'MM/dd/yyyy' }}">
                          <span class="icon icon-calendar4"></span> </div>
                      </div>
                    </div>
                    <div class="col-md-6">

                      <div class="form-group">
                        <label>Location</label>
                        <div class="add-edit-wrp">
                          <input type="text" class="form-control" disabled namearia-describedby="name" value="{{tutora.location}}"
                            formControlName="location" placeholder="Location">

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12" *ngIf="this.tutor.tutorTAE.length==0">No data exists!</div>
                  <br />
                </section>
              </div>

              <div class="col-md-12" *ngIf="next==5">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">In the last five years, have you worked with any entities that
                    prepare individuals for either the ACT or the SAT? <span style="color:red">*</span> </div>
                  <div class="col-md-6">
                    <div class="form-check form-check-inline mr-5">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio21"
                        [(ngModel)]="tutor.f12" [ngModelOptions]="{standalone: true}" id="inlineRadio2" disabled value="true">
                      <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio21"
                        [(ngModel)]="tutor.f12" [ngModelOptions]="{standalone: true}" id="inlineRadio2" disabled value="false">
                      <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                  </div>
                </section>
                <!-- EOF form row -->
                <!-- SOF form row -->
                <section formArrayName="tutorTASE">
                  <div class="col-md-12 form-hdr">Please provide the Names and URLs of these sites</div>

                  <div class="row form-wrp" *ngFor="let tutora of this.tutor.tutorTASE; let i=index" [formGroupName]="i">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Name {{i + 1}}</label>
                        <div class="input-wrp">
                          <input type="text" class="form-control" namearia-describedby="name" formControlName="name"
                            value="{{tutora.name}}" disabled placeholder="Name">

                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">

                      <div class="form-group">
                        <label>URL </label>
                        <div class="add-edit-wrp">
                          <input type="text" class="form-control" namearia-describedby="name" formControlName="url"
                            value="{{tutora.url}}" placeholder="http://" disabled pattern="https?://.+">
                          <span style="color:red" *ngIf="invoiceForm.controls.tutorTASE.controls[i].controls.url.errors?.pattern && invoiceForm.controls.tutorTASE.controls[i].controls.url.dirty">

                            Sorry Not a Valid URL.Please include http:// </span>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12" *ngIf="this.tutor.tutorTASE.length==0">No data exists!</div>
                  <br />

                </section>
              </div>



              <div class="col-md-12" *ngIf="next==6">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">Do you own or manage any websites, blogs, forums, or social media
                    entities? <span style="color:red">*</span></div>
                  <div class="col-md-6">
                    <div class="form-check form-check-inline mr-5">
                      <input class="form-check-input" type="radio" name="inlineRadioOption3s" [(ngModel)]="tutor.isDisabled55"
                        disabled [ngModelOptions]="{standalone: true}" (change)="onSelecttutorTOE(false)" disabled id="inlineRadio3"
                        value="true">
                      <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOption3s" [(ngModel)]="tutor.isDisabled55"
                        [ngModelOptions]="{standalone: true}" (change)="onSelecttutorTOE(true)" disabled id="inlineRadio3"
                        value="false">
                      <label class="form-check-label">No</label>
                    </div>
                  </div>
                </section>
                <!-- EOF form row -->
                <!-- SOF form row -->
                <section formArrayName="tutorTOE">
                  <div class="col-md-12 form-hdr">Please provide the Names and URLs of these sites</div>

                  <div class="row form-wrp" *ngFor="let tutora of this.tutor.tutorTOE; let i=index" [formGroupName]="i">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Name {{i + 1}}</label>
                        <div class="input-wrp">
                          <input type="text" class="form-control" namearia-describedby="name" value="{{tutora.name}}"
                            disabled formControlName="name" placeholder="Name">

                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">

                      <div class="form-group">
                        <label>URL </label>
                        <div class="add-edit-wrp">
                          <input type="text" class="form-control" namearia-describedby="name" formControlName="url"
                            value="{{tutora.url}}" disabled placeholder="http://" pattern="https?://.+">
                          <span style="color:red" *ngIf="invoiceForm.controls.tutorTOE.controls[i].controls.url.errors?.pattern && invoiceForm.controls.tutorTOE.controls[i].controls.url.dirty">

                            Sorry Not a Valid URL.Please include http:// </span>
                        </div>
                      </div>
                    </div>



                  </div>


                  <div class="col-md-12" *ngIf="this.tutor.tutorTOE.length==0">No data exists!</div>
                  <br />

                </section>
              </div>


              <div class="col-md-12" *ngIf="next==7">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">Do you have any non-test-preparation teaching experience? <span style="color:red">*</span></div>
                  <div class="col-md-6">
                    <div class="form-check form-check-inline mr-5">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions54" [(ngModel)]="tutor.isDisabled51"
                        [ngModelOptions]="{standalone: true}" disabled (change)="onSelecttutorTE(false)" id="inlineRadio4"
                        value="true">
                      <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions54" id="inlineRadio4"
                        [(ngModel)]="tutor.isDisabled51" [ngModelOptions]="{standalone: true}" disabled (change)="onSelecttutorTE(true)"
                        value="false">
                      <label class="form-check-label">No</label>
                    </div>
                  </div>
                </section>
                <!-- EOF form row -->
                <!-- SOF form row -->
                <section formArrayName="tutorTE">
                  <div class="col-md-12 form-hdr">Please provide the name and location of the school, grade level, and
                    subject(s) taught</div>

                  <div class="row form-wrp" *ngFor="let tutora of this.tutor.tutorTE; let i=index" [formGroupName]="i">

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Name {{i + 1}}</label>
                        <div class="input-wrp">
                          <input type="text" class="form-control" namearia-describedby="name" value="{{tutora.name}}"
                            disabled formControlName="name" placeholder="Name">

                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Location of School</label>
                        <div class="input-wrp">
                          <input type="text" class="form-control" namearia-describedby="name" formControlName="locationOfSchool"
                            disabled value="{{tutora.locationOfSchool}}" placeholder="Location of School">

                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Grade Level of Students</label>
                        <div class="input-wrp">
                          <input type="text" class="form-control" namearia-describedby="name" formControlName="gradeLvlOfStudent"
                            disabled value="{{tutora.gradeLvlOfStudent}}" placeholder="Grade Level of Students">

                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">

                      <div class="form-group">
                        <label>Subject(s) Taught </label>
                        <div class="input-wrp">
                          <input type="text" class="form-control" namearia-describedby="name" formControlName="subjectTaught"
                            disabled value="{{tutora.subjectTaught}}" placeholder="Subject(s) Taught">



                        </div>
                      </div>
                    </div>



                  </div>


                  <div class="col-md-12" *ngIf="this.tutor.tutorTE.length==0">No data exists!</div>
                  <br />

                </section>
              </div>


              <section class="row form-wrp" *ngIf="next==8">
                <div class="col-md-12 form-hdr">Tell us about your own education: <span style="color:red">*</span></div>
                <div class="row form_row">
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="form-group">
                      <label>What is the highest degree you have earned? <span style="color:red">*</span> </label>
                      <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.highestDegree"
                        value="{{tutor.highestDegree}}" disabled #highestDegree="ngModel" disabled [ngModelOptions]="{standalone: true}"
                        placeholder="Please fill" required>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="form-group">
                      <label>What were your major and minor (if applicable)? <span style="color:red">*</span></label>
                      <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.majorMinor"
                        value="{{tutor.majorMinor}}" disabled #majorMinor="ngModel" [ngModelOptions]="{standalone: true}"
                        placeholder="Please fill" required>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="form-group">
                      <label>From what Institution did you receive this degree? <span style="color:red">*</span></label>
                      <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.instname"
                        value="{{tutor.instname}}" disabled #instname="ngModel" [ngModelOptions]="{standalone: true}"
                        placeholder="Please fill" required>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="form-group">
                      <label>What is the year of your degree received? <span style="color:red">*</span></label>
                      <input type="text" class="form-control" aria-describedby="name" [(ngModel)]="tutor.yearOfDegreeReceived"
                        value="{{tutor.yearOfDegreeReceived}}" disabled #yod="ngModel" [ngModelOptions]="{standalone: true}"
                        placeholder="Please fill" required>

                    </div>
                  </div>

                </div>
              </section>

              <div class="col-md-12" *ngIf="next==8">

                <!-- EOF form row -->
                <!-- SOF form row -->
                <section class="row">
                  <div class="col-md-12 form-hdr">Which of the following sections of the ACT do you intend to tutor?
                    Select all that apply. <span style="color:red">*</span></div>

                  <div class="col-md-12">
                    <input type="checkbox" id="Status" [(ngModel)]="tutor.Basics" value="Basics" (ngModelChange)="change($event, 'Basics')"
                      [ngModelOptions]="{standalone: true}" disabled (checked)="tutor.NA"> <label for="exampleInputPassword1">
                      &nbsp;Basics</label>
                    <input type="checkbox" id="Status" [(ngModel)]="tutor.english" value="English" (ngModelChange)="change($event, 'English')"
                      disabled [ngModelOptions]="{standalone: true}" (checked)="tutor.English"> <label for="exampleInputPassword1">&nbsp;English</label>&nbsp;
                    <input type="checkbox" id="Status" [(ngModel)]="tutor.Reading" value="Reading" (ngModelChange)="change($event, 'Reading')"
                      disabled [ngModelOptions]="{standalone: true}" (checked)="tutor.Reading"> <label for="exampleInputPassword1">
                      &nbsp;Reading</label> &nbsp;
                    <input type="checkbox" id="Status" [(ngModel)]="tutor.Math" value="Math" (ngModelChange)="change($event, 'Math')"
                      disabled [ngModelOptions]="{standalone: true}" (checked)="tutor.Math"> <label for="exampleInputPassword1">&nbsp;Math</label>
                    &nbsp;
                    <input type="checkbox" id="Status" [(ngModel)]="tutor.Science" value="Science" (ngModelChange)="change($event, 'Science')"
                      disabled [ngModelOptions]="{standalone: true}" (checked)="tutor.Math"> <label for="exampleInputPassword1">
                      &nbsp;Science</label> &nbsp;
                    <input type="checkbox" id="Status" [(ngModel)]="tutor.Writing" value="Writing" (ngModelChange)="change($event, 'Writing')"
                      disabled [ngModelOptions]="{standalone: true}" (checked)="tutor.Math"> <label for="exampleInputPassword1">
                      &nbsp;Writing</label>&nbsp;
                    <input type="checkbox" id="Status" [(ngModel)]="tutor.Allsectionofact" value="Allsectionofact"
                      (ngModelChange)="change($event, 'Allsectionofact')" disabled [ngModelOptions]="{standalone: true}"
                      (checked)="tutor.Math"> <label for="exampleInputPassword1"> &nbsp;All sections of ACT</label>&nbsp;

                  </div>


                </section>
              </div>
              <div *ngIf="next==9">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">What is your level of English-language proficiency for each of the
                    following? <span style="color:red">*</span></div>
                  <div class="col-md-12">
                    <table class="table custom-table-1">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Very proficient</th>
                          <th scope="col">Moderately proficient</th>
                          <th scope="col">Somewhat proficient</th>
                          <th scope="col">Not at all proficient</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Verbal comprehension</th>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Verbal" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions1" id="inlineRadio1"
                                value=1>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Verbal" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions1" id="inlineRadio12"
                                value=2>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Verbal" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions1" id="inlineRadio13"
                                value=3>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Verbal" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions1" id="inlineRadio14"
                                value=4>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Speaking</th>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Speaking" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions2" id="inlineRadio11"
                                value=1>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Speaking" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions2" id="inlineRadio21"
                                value=2>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Speaking" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions2" id="inlineRadio31"
                                value=3>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Speaking" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions2" id="inlineRadio41"
                                value=4>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Reading</th>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Reading1" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions3" id="inlineRadio1"
                                value=1>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Reading1" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions3" id="inlineRadio1"
                                value=2>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Reading1" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions3" id="inlineRadio1"
                                value=3>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Reading1" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions3" id="inlineRadio1"
                                value=4>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Writing</th>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Writing1" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions4" id="inlineRadio1"
                                value=1>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Writing1" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions4" id="inlineRadio1"
                                value=2>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Writing1" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions4" id="inlineRadio1"
                                value=3>
                            </div>
                          </td>
                          <td>
                            <div class="form-check form-check-inline mr-5">
                              <input class="form-check-input" type="radio" [(ngModel)]="tutor.Writing1" disabled
                                [ngModelOptions]="{standalone: true}" name="inlineRadioOptions4" id="inlineRadio1"
                                value=4>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </section>

              </div>
              <div *ngIf="next==9">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">What location are you registering for? <span style="color:red">*</span>
                  </div>

                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Country</label>

                      <br />
                      <input type="text" class="form-control" aria-describedby="name" (ngModelChange)="nextT2()"
                        disabled [(ngModel)]="counrty" [ngModelOptions]="{standalone: true}" placeholder="Country">
                    </div>
                  </div>
                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="exampleInputPassword1">City</label>

                      <input type="text" class="form-control" aria-describedby="name" (ngModelChange)="nextT2()"
                        disabled [(ngModel)]="tutor.city" [ngModelOptions]="{standalone: true}" placeholder="City">
                      <br />
                    </div>
                  </div>
                  <div class="col-md-12 form-hdr">Please select the trainer: <span style="color:red">*</span> </div>
                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Trainers</label>
                      <input type="text" class="form-control" aria-describedby="name" (ngModelChange)="nextT2()"
                        disabled [(ngModel)]="tutor.Trainers" [ngModelOptions]="{standalone: true}" placeholder="Trainers">

                      <br />
                    </div>
                  </div>
                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Address</label>
                      <textarea class="form-control" rows="3" aria-describedby="name" (ngModelChange)="nextT2()"
                        disabled [(ngModel)]="tutor.Address" [ngModelOptions]="{standalone: true}" placeholder="Address"></textarea>
                      <br />

                    </div>
                  </div>
                </section>
              </div>

              <div *ngIf="next==9">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">For future reference, what location would you be interested in?</div>

                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Country</label>
                      <br />
                      <input type="text" class="form-control" aria-describedby="name" (ngModelChange)="nextT2()"
                        disabled [(ngModel)]="tutor.fcountry" [ngModelOptions]="{standalone: true}" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="exampleInputPassword1">City</label>

                      <input type="text" class="form-control" aria-describedby="name" (ngModelChange)="nextT2()"
                        disabled [(ngModel)]="tutor.fcity" [ngModelOptions]="{standalone: true}" placeholder="">
                      <br />

                    </div>
                  </div>
                </section>
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">For future reference, what dates would you be interested in?</div>
                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Start Date</label>
                      <div class="input-wrp">
                        <input type="text" placeholder="MM-DD-YYYY" disabled [(ngModel)]="tutor.Start" [ngModelOptions]="{standalone: true}"
                          class="form-control" placement="top" #dp11="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }">
                        <span class="icon icon-calendar4"></span>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputPassword1">End Date</label>
                      <div class="input-wrp">
                        <input type="text" class="form-control" placeholder="MM-DD-YYYY" disabled [(ngModel)]="tutor.End"
                          [ngModelOptions]="{standalone: true}" class="form-control" placement="top" #dp1="bsDatepicker"
                          bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }">
                        <span class="icon icon-calendar4"></span>

                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div *ngIf="next==10">
                <section class="row form-wrp">
                  <div class="col-md-12 form-hdr">Attestations for Tutor Applicants: <span style="color:red">*</span></div>
                  <div class="col-md-12 check_list">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="1" (checked)="tutor.tutorapp1" [(ngModel)]="tutor.tutorapp1"
                        disabled [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '1')" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">I certify that all of the information
                        provided as part of my registration is current and accurate.</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck2" value="2" (checked)="tutor.tutorapp2"
                        disabled [(ngModel)]="tutor.tutorapp2" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '2')">
                      <label class="form-check-label" for="defaultCheck2">I have not and will not help examinees
                        achieve scores by fraudulent means, including by distribution of secure test content, creation
                        or distribution answer keys, and/or any other activity aimed at altering or otherwise obtaining
                        an ACT score that does not reflect any examinee’s independent efforts and ability.</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck3" [(ngModel)]="tutor.tutorapp3"
                        value="3" disabled (checked)="tutor.tutorapp3" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="change1($event, '3')">
                      <label class="form-check-label" for="defaultCheck3">I have not and will not appropriate ACT
                        content for the purpose of preparing students to take the ACT.</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck4" [(ngModel)]="tutor.tutorapp4"
                        value="4" disabled (checked)="tutor.tutorapp4" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="change1($event, '4')">
                      <label class="form-check-label" for="defaultCheck4">I have not and will not copy, reproduce,
                        re-engineer or otherwise replicate any ACT content from this exam.</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck5" [(ngModel)]="tutor.tutorapp5"
                        value="5" disabled (checked)="tutor.tutorapp5" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="change1($event, '5')">
                      <label class="form-check-label" for="defaultCheck5">I have not and will not create, forge, copy,
                        reproduce, re-engineer, modify or otherwise replicate any certification that purports to be a
                        certification earned through this exam.</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck6" [(ngModel)]="tutor.tutorapp6"
                        value="6" disabled (checked)="tutor.tutorapp6" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="change1($event, '6')">
                      <label class="form-check-label" for="defaultCheck6">I certify that I am the individual whose name
                        presents as part of the registration of this exam and will be represented on the certification
                        from this exam. </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck7" [(ngModel)]="tutor.tutorapp7"
                        value="7" disabled (checked)="tutor.tutorapp7" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="change1($event, '7')">
                      <label class="form-check-label" for="defaultCheck7">I will immediately report to ACT any and all
                        test security-related concerns of which I am aware. This may be done anonymously through ACT’s
                        Test Security Hotline, available at: <a href="http://www.act.ethicspoint.com" target="_blank">www.act.ethicspoint.com</a></label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="8" (checked)="tutor.tutorapp8" id="defaultCheck8"
                        disabled [(ngModel)]="tutor.tutorapp8" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '8')">
                      <label class="form-check-label" for="defaultCheck8">I will fully cooperate with any test security
                        investigation.</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck9" value="9" (checked)="tutor.tutorapp9"
                        disabled [(ngModel)]="tutor.tutorapp9" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '9')">
                      <label class="form-check-label" for="defaultCheck9">I will not take the ACT without prior
                        approval by ACT.</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck10" value="10" (checked)="tutor.tutorapp10"
                        disabled [(ngModel)]="tutor.tutorapp10" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '10')">
                      <label class="form-check-label" for="defaultCheck10">I will not assist with the publication,
                        distribution or administration of any ACT-owned exam. I will not act as test staff or otherwise
                        proctor any ACT-owned exam.</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck11" value="11" (checked)="tutor.tutorapp11"
                        disabled [(ngModel)]="tutor.tutorapp11" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '11')">
                      <label class="form-check-label" for="defaultCheck10"><a href="../assets/termsp/ACT Tutor Certification Agreement 201804231028.pdf"
                          target="_blank">I agree to ACT's Terms and Conditions.</a></label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck12" value="12" (checked)="tutor.tutorapp10"
                        disabled [(ngModel)]="tutor.tutorapp12" [ngModelOptions]="{standalone: true}" (ngModelChange)="change1($event, '12')">
                      <label class="form-check-label" for="defaultCheck10">I agree to the ACT's Ethics and Integrity
                        Statement.</label>
                    </div>
                  </div>
                  <div class="col-md-12 info_box">
                    <i> One important way we protect the security of the ACT is by soliciting information from
                      stakeholders about test security concerns.&nbsp; These stakeholders help us maintain the fairness
                      of the ACT for all examinees who take the test, as well as the teachers, parents, counselors and
                      tutors who support them in their academic endeavors.&nbsp; Do you have any test security concerns
                      you would like to report now?&nbsp; If so, please report them here: <a href="http://www.act.ethicspoint.com"
                        target="_blank">www.act.ethicspoint.com</a></i>
                  </div>
                  <p class="info-p">You have reached the end of the application form. Please click the "Submit
                    Application" button when ready.</p>
                </section>
              </div>
              <!-- SOF button row -->
              <section class="row button-wrp">
                <div class="col-md-12 button-row">

                  <button type="button" class="btn btn-primary float-right" *ngIf="next!=10" (click)="nextt()">Next</button>
                  <button type="button" class="btn btn-primary float-right" *ngIf="next>1" (click)="backt()">Back</button>



                </div>
              </section>
              <!-- EOF button row -->
            </form>
          </section>
        </div>
      </div>
    </section>

  </form>
</section>