a:hover{
    background-color: #016089;
}
.navbar-light .navbar-nav .nav-item:first-child {
    border-left:none;
}


.navbar-light .navbar-nav .nav-item {
    border-right: none;
}
li:hover > a {
    background-color: rgba( 255, 255, 255, 0.1);
}

@media only screen and (max-width: 767px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
}