.nav-link:hover{
    background: #016089;
}

.nav-link:active{
    background: #016089;
}
.nav-link:visited{
    background:  #016089;
}
.navbar-light .navbar-nav .nav-item.active {
    background: #016089;
}

a:active{
    background:  #016089;
}

/*******************************************Calendar css****************************************************/


@media only screen and (max-width: 767px){
 
   table{
  width: 100%;overflow-x: scroll;
   }

thead tr {
    position:none;
    top: -9999px;
    left: -9999px;
}
}

@media only screen and (max-width: 767px)
{
thead[_ngcontent-c6] tr[_ngcontent-c6] {
    position: none;
    top: -9999px;
    left: -9999px;
}
}

@media only screen and (max-width: 767px){
thead tr {
    /* position: absolute; */
    /* display: block; */
    position: unset;
    top: -9999px;
    left: -9999px;
}
}
@media only screen and (max-width: 767px)
{
tr {
    border: 0px solid #ddd;
    margin-bottom: 20px;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
}
table {
    border-collapse: collapse;
}

table {
    /* display: table; */
    display: flow-root;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

body {
    background: '#f7f7f7s';
    font-family: 'Montserrat', sans-serif;
    color: #373942;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
}

