<div *ngFor="let alert of alerts" style="position: fixed;width:100%;z-index:2">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)" *ngIf="alert.msg">{{ alert.msg }}</alert>
</div>
<app-headerv></app-headerv>

<section class="product-bar">
    <div class="float-left product-text">Trainer</div>
    <div class="float-right">
     
        <a (click)="openModal1(template2)">
        
          <button type="button" class="btn btn-primary">Add Trainer</button></a>
        </div>
        
    
    <div class="clearfix"></div>
  </section>
<div class="table-search">
 
  <div class="float-left">
    <div class="dropdown medium float-left">
  
    </div>
  </div>
  <div class="float-right">
   
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">View Trainer Data</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
      <div class="padding0">
          <section class="content-area">
            <div class="row">
            
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstname" class="col-form-label">First Name</label>
                  <input type="text" class="form-control" id="firstname" value={{food1.firstName}} disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastname" class="col-form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastname"  value={{food1.lastName}} disabled>
                </div>
              </div>
            </div>
            
              <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                 <label for="staticEmail" class="col-form-label">Email</label>
                  <input type="text" class="form-control" id="staticEmail" value={{food1.email}} disabled>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="Company" class="col-form-label">Company</label>
                   <input type="text" class="form-control" id="Company" value={{food1.company}} disabled>
                  </div>
                </div>
            </div>
             <div class="row">
              
              <div class="col-md-12">
                <div class="form-group">
                   <label for="Address" class="col-form-label">Address</label>
                  <input type="text" class="form-control" id="Address"  value={{food1.address}} disabled>
                </div>
              </div>
            </div>
            
            
             <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                   <label for="Status" class="col-form-label">City</label>
                      <input type="text" class="form-control" id="Status" value={{food1.city.cityName}} disabled>
                  
                    </div>
                  </div>
              <div class="col-md-6">
                <div class="form-group">
                   <label for="Country" class="col-form-label">Country</label>
                   <input type="text" class="form-control" id="Country" value={{food1.country.countryName}} disabled>
                </div>
              </div>
            </div>
        
            <div class="float-right">    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button> </div>
            <div class="clearfix"></div>
          </section>
        </div>
  </div>
</ng-template>
  </div>
  <div class="clearfix"></div>
  <ng-template #template1>
      <div class="modal-header">
        <h4 class="modal-title pull-left">View Trainer Data</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div *ngFor="let alert of alerts1" >
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)" *ngIf="alert.msg">{{ alert.msg }}</alert>
            </div>
          <div class="padding0">
              <section class="content-area">
                <div class="row">
                
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstname" class="col-form-label">First Name</label><span style="color:red">*</span>
                      <input type="text" class="form-control" id="firstname" [(ngModel)]="food1.firstName" value={{food1.firstName}} >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastname" class="col-form-label">Last Name</label><span style="color:red">*</span>
                      <input type="text" class="form-control" id="lastname" [(ngModel)]="food1.lastName"  value={{food1.lastName}} >
                    </div>
                  </div>
                </div>
                
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                     <label for="staticEmail" class="col-form-label">Email</label><span style="color:red">*</span>
                      <input type="text" class="form-control" id="staticEmail" value={{food1.email}}  [(ngModel)]="food1.email">
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for="Company" class="col-form-label">Company</label><span style="color:red">*</span>
                       <input type="text" class="form-control" id="Company" value={{food1.company}} [(ngModel)]="food1.company">
                      </div>
                    </div>
                </div>
                 <div class="row">
                  
                  <div class="col-md-12">
                    <div class="form-group">
                       <label for="Address" class="col-form-label">Address</label><span style="color:red">*</span>
                      <input type="text" class="form-control" id="Address"  value={{food1.address}} [(ngModel)]="food1.address">
                    </div>
                  </div>
                </div>
                
                
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                       <label for="Status" class="col-form-label">City</label><span style="color:red">*</span>
                          <input type="text" class="form-control" disabled  id="Status" value={{food1.city.cityName}} [(ngModel)]="food1.city.cityName">
                      
                        </div>
                      </div>
                  <div class="col-md-6">
                    <div class="form-group">
                       <label for="Country" class="col-form-label">Country</label><span style="color:red">*</span>
                       <input type="text" class="form-control" id="Country" value={{food1.country.countryName}} disabled  [(ngModel)]="food1.country.countryName">
                    </div>
                  </div>
                </div>
   
                <div class="float-right"> <button type="button" class="btn btn-primary" (click)="editAgents(food1)">Update</button>   <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button> </div>
                <div class="clearfix"></div>
              </section>
            </div>
      </div>
    </ng-template>
    <div class="clearfix"></div>
  <ng-template #template2>
    
      <div class="modal-header">
          <h4 class="modal-title pull-left">Add New Trainer Data</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div *ngFor="let alert of alerts1" >
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible" (onClosed)="onClosed(alert)" *ngIf="alert.msg">{{ alert.msg }}</alert>
              </div>
            <div class="padding0">
                <section class="content-area">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstname" class="col-form-label">First Name</label><span style="color:red">*</span>
                        <input type="text" class="form-control" id="firstname" name="firstname"  [(ngModel)]="firstname"  required>
         
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lastname" class="col-form-label">Last Name</label><span style="color:red">*</span>
                        <input type="text" class="form-control" id="lastname" [(ngModel)]="lastname" >
                      </div>
                    </div>
                  </div>
                  
                    <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                       <label for="staticEmail" class="col-form-label">Email</label><span style="color:red">*</span>
                        <input type="text" class="form-control" id="staticEmail" [(ngModel)]="EmailID" >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                         <label for="subject" class="col-form-label">Subject</label><span style="color:red">*</span>
                        <input type="text" class="form-control" id="subject" [(ngModel)]="subject" >
                      </div>
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="Company" class="col-form-label">Company</label><span style="color:red">*</span>
                       <input type="text" class="form-control" id="Company" [(ngModel)]="Company" >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                         <label for="Address" class="col-form-label">Address</label><span style="color:red">*</span>
                        <input type="text" class="form-control" id="Address" [(ngModel)]="Address" >
                      </div>
                    </div>
                  </div>
                  
                  
                   <div class="row">
                   
                    <div class="col-md-6">
                      <div class="form-group">
                         <label for="Country" class="col-form-label">Country</label><span style="color:red">*</span>
                                <select [(ngModel)]="counrty" class="form-control" [ngModelOptions]="{standalone: true}"  (ngModelChange)="changeCity()" class="form-control">
                                  <option value="sel" selected>Select Counrty</option>
                                  <option *ngFor='let car1 of _countrys.data' value="{{car1.id}}">{{ car1.countryName }}</option> 
                             </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                     <label for="Location" class="col-form-label">City</label><span style="color:red">*</span>
                        <select  [(ngModel)]="cityids"  [ngModelOptions]="{standalone: true}"    class="form-control"  *ngIf="counrty && country!='sel'">
                        <option *ngFor='let ca of city1.data' value="{{ca.id}}" >{{ ca.cityName }}</option>
              
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                   
                    </div>
                    <div class="col-md-6">
                     
                    </div>
                  </div>
                  
                  
                  <div class="float-right"> <button  (click)="modalRef.hide()"class="btn btn-primary">Cancel</button> <button type="button" class="btn btn-primary" (click)="addnewagent(firstname,lastname,EmailID,subject,Company,Address,cityids,counrty)">Save</button></div>
                  <div class="clearfix"></div>
                </section>
              </div>
              </div>
      
  </ng-template>
</div>

  
    <table datatable *ngIf="this.temp_var" [dtOptions]="dtOptions">
  <thead>
    <tr>
        <th > 
            <input type="checkbox" [checked]="isAllChecked()" (change)="checkAll($event)" >
           
        </th>
        <th > Full Name &nbsp;</th>
        <th >Company &nbsp;</th>
        <th >Email &nbsp;</th>
        <th >Country &nbsp;</th>
        <th >Status &nbsp;</th>
        <th >Actions</th>
    </tr>
  </thead>
  <tbody >
        <tr *ngFor="let food of this.coinsList" >
          <td data-title="Select">
              <input type="checkbox" [(ngModel)]="food.state" value="{{food.id}}" style="margin-left: 15%;">
        </td>
          <td data-title="Full Name" style="cursor: pointer;"><a (click)="openModal(template,food)"> {{food.firstName}} {{food.lastName}}</a></td>
      <td data-title="Company" >{{food.company}}</td>
      <td data-title="Email" >{{food.email}}</td>
      <td data-title="Country" >{{food.country.countryName}}</td>
      <td  data-title="Status" *ngIf="food.status!='PENDING'">{{food.status}}</td>
      <td data-title="Status" *ngIf="food.status=='PENDING'">ACTIVE</td>
      <td data-title="Action" class="action-icon" ><i class="fa fa-pencil" title="Edit"  *ngIf="food.status!='INACTIVE'"  (click)="openModalWithComponent(template1,food)" aria-hidden="true"></i>&nbsp;<i class="fa fa-trash" title="Delete" aria-hidden="true" *ngIf="food.status!='INACTIVE'"  (click)="deleteAgents(food)"></i> <label *ngIf="food.status=='INACTIVE'" style="color:red">Deleted </label></td>
     
    </tr>
   
  </tbody>
  
</table>
