<header>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand float-left" style="background: white;"><img src="../assets/images/ACT_Certified.png" class="img-fluid"
          style="height:65px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i><br>
        <span class="menutxt">Menu</span> </button>
      <!-- <div class="collapse navbar-collapse" id="navbarNav" [hidden]="usertype=='USER'"> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" [hidden]="usertype=='USER'">
          <li class="nav-item"> <a routerLinkActive="active" class="nav-link" routerLink="/viewallTestdate">Test Dates</a>
          </li>
          <li class="nav-item"> <a routerLinkActive="active" class="nav-link" routerLink="/allTutor">Tutors</a> </li>
          <li class="nav-item "> <a class="nav-link" routerLink="/home" routerLinkActive="active">Trainer</a> </li>
          <li class="nav-item"> <a class="nav-link" style="color:gray">Orders</a> </li>
        </ul>
      </div>
      <div class="dropdown hDrop">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="userHeader" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="!username"> Hi John </a>
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="userHeader" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="username"> {{username}} </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userHeader"> <a class="dropdown-item" (click)="signout()"
            href="#">Sign Out</a> </div>
      </div>
    </nav>
  </div>
  <div class="clearfix"></div>
</header>