.nav-link:hover{
    background: #016089;
}

.nav-link:active{
    background: #016089;
}
.nav-link:visited{
    background:  #016089;
}
/* a.nav-link:{
    background-color: rgb(66, 133, 66) !important;
} */
.navbar-light .navbar-nav .nav-item.active {
    background: #016089;
}

a:active{
    background:  #016089;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    
    background: #016089; 
}

@media only screen and (max-width: 767px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
}